@charset "UTF-8";
/* variables */
/* reset */
* {
  color: #000;
  font-size: 16px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a,
input,
button,
textarea,
select {
  text-decoration: none;
  color: #000;
  font: inherit;
  border: none;
  background: initial;
  cursor: pointer;
}

a:hover {
  text-decoration: none;
}

/* animation */
html {
  /* overflow: hidden; */
  background: #f2f6ff;
}

body,
head {
  display: block;
  font-size: 52px;
  color: transparent;
  background: transparent;
}

head::before,
head::after,
body::before,
body::after {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 3em;
  height: 3em;
  content: "a";
  z-index: -1;
  animation: 25s -2s move infinite ease-in-out alternate;
}

body::before {
  text-shadow: 2.6168475279em 3.0876927487em 10.2617521318px hsl(220, 78%, 29%), 0.408512589em 1.7414024264em 10.9031474058px hsl(220, 78%, 29%), 0.1108655258em 2.8432834176em 11.4259513061px hsl(220, 78%, 29%), 1.2408962475em 0.7393553681em 11.7718948749px hsl(220, 78%, 29%), 1.5466366697em 0.1954742907em 11.978488046px hsl(220, 78%, 29%), 3.179141631em 0.7509247182em 11.3298995656px hsl(220, 78%, 29%), 1.6428353546em 2.5257429531em 10.3556428896px hsl(220, 78%, 29%), 0.3062028284em 1.035787814em 11.6616860678px hsl(220, 78%, 29%), 1.6254411917em 2.3290891233em 11.9465772548px hsl(220, 78%, 29%), 1.50741949em 1.1936397947em 11.9754507698px hsl(220, 78%, 29%), 1.3009347394em 1.4437393919em 11.6330566091px hsl(220, 78%, 29%);
  animation-duration: 28s;
  animation-delay: -15s;
}

body::after {
  text-shadow: 2.2565972294em 1.0711551895em 11.9778137596px hsl(220, 78%, 29%), -0.4642135577em 2.2912713546em 10.7731186916px hsl(220, 78%, 29%), 1.4800294319em 2.3213980959em 11.2149365709px hsl(220, 78%, 29%), 0.1927335107em 0.4523381602em 11.0222176486px hsl(220, 78%, 29%), 0.8395013429em 1.9928351807em 11.912769853px hsl(220, 78%, 29%), 2.1210049631em 2.1800961363em 10.6855712794px hsl(220, 78%, 29%), 0.0683750364em 2.7026656854em 11.3380852378px hsl(220, 78%, 29%), 0.4297496607em 3.0918185509em 11.2581316227px hsl(220, 78%, 29%), 1.9148492187em 1.5640157454em 11.1761008577px hsl(220, 78%, 29%), 2.693738399em 3.1514009002em 11.2781988441px hsl(220, 78%, 29%), 3.1143940342em 1.111930914em 10.2399066974px hsl(220, 78%, 29%);
  animation-duration: 25s;
  animation-delay: -2s;
}

head::before {
  text-shadow: 3.0832855814em 3.4377139703em 11.4272889345px hsl(220, 78%, 29%), 1.3208390441em 2.8420711008em 11.2725999388px hsl(220, 78%, 29%), 0.32286895em 3.4506895143em 11.7752035067px hsl(220, 78%, 29%), 1.8069684734em 2.2311586707em 11.1025935861px hsl(220, 78%, 29%), 1.8544691601em 1.8635323286em 11.3199354793px hsl(220, 78%, 29%), 1.4816504743em 3.3408399298em 11.9729505699px hsl(220, 78%, 29%), 2.3885897128em 2.0993761458em 10.6741765223px hsl(220, 78%, 29%), -0.4351110678em 1.1888056965em 10.9498942063px hsl(220, 78%, 29%), 2.4262841619em 2.9209189865em 11.5252963626px hsl(220, 78%, 29%), 0.5405647072em -0.0871450384em 11.7547554303px hsl(220, 78%, 29%), 1.9830753284em 0.4937816894em 10.607877475px hsl(220, 78%, 29%);
  animation-duration: 32s;
  animation-delay: -32s;
}

head::after {
  text-shadow: 2.3811968703em 1.9675537116em 11.827596378px hsl(220, 78%, 29%), -0.4321995865em 1.2898930098em 10.1583629573px hsl(220, 78%, 29%), 3.0527651415em -0.1399646398em 11.7475142887px hsl(220, 78%, 29%), 0.326608174em 0.4961709167em 11.3710321527px hsl(220, 78%, 29%), 1.4221453289em -0.3191309573em 11.5298413516px hsl(220, 78%, 29%), 3.0610881665em -0.1549738828em 11.9202010634px hsl(220, 78%, 29%), 1.2983510807em 2.5192185788em 10.4092811404px hsl(220, 78%, 29%), 2.2041637158em 1.6074047679em 10.812557522px hsl(220, 78%, 29%), 3.3435235529em 0.8738173434em 11.8878219907px hsl(220, 78%, 29%), 0.6876067711em 0.1456554327em 11.1401908292px hsl(220, 78%, 29%), 1.7394200413em 2.7022675617em 11.1289298117px hsl(220, 78%, 29%);
  animation-duration: 20s;
  animation-delay: -19s;
}

@keyframes move {
  from {
    transform: rotate(0deg) scale(12) translateX(-20px);
  }
  to {
    transform: rotate(180deg) scale(18) translateX(20px);
  }
}
.card {
  width: 300px;
  height: 300px;
  border-radius: 20px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
}

.root {
  padding: 0 calc((100% - 1520px) / 2);
}

/* header */
.header {
  width: 100%;
}

.header__first {
  height: 44px;
  max-width: 1520px;
  margin: 0 auto;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  color: #103784;
}

.header__link {
  text-decoration: none;
  margin-right: 22px;
  font-size: 16px;
  line-height: 21px;
}

.header__btn {
  font-size: 18px;
  line-height: 18px;
  background-color: #5078B9;
  color: #fff;
  text-decoration: underline;
  height: 100%;
  width: 190px;
  border-radius: 0 0 20px 20px;
}

.header__container {
  background-color: #F9F9F9;
  padding: 30px calc((100% - 1520px) / 2);
}

.header__main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 30px 0;
  background-color: #F9F9F9;
}

.header__input {
  width: 55%;
  font-size: 16px;
  line-height: 21px;
  border: #103784 solid 2px;
  padding: 13px 70px 13px 23px;
  border-radius: 20px;
  background: url(./img/Лупа.svg) calc(100% - 23px)/17px no-repeat;
  background-color: #fff;
}

.header__icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.header__icon {
  margin-right: 30px;
}
.header__icon:last-child {
  margin: 0;
}

.header__nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  max-width: 1520px;
  padding: 12px 63px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 20px;
  border: 2px solid #E4EAF7;
  box-shadow: -7px -7px 30px 0px rgba(16, 55, 132, 0.0588235294);
}

.header__nav-link {
  color: #103784;
  font-size: 16px;
  line-height: 21px;
  text-transform: uppercase;
  background-color: #fff;
  text-decoration: none;
  font-weight: 600;
}

/* carousel */
.carousel-container {
  height: 608px;
  padding-bottom: 57px;
  width: 100%;
  background-color: #F9F9F9;
}

.carousel {
  position: relative;
  max-width: 1520px;
  height: 551px;
  background-color: #ECECEC;
  margin: 0 auto;
  padding: 0 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

.carousel__img {
  float: right;
  width: 720px;
}

.carousel-indicators {
  width: 115px;
  margin: 0 auto 34px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.carousel-indicators li {
  border-radius: 50%;
  width: 14px;
  height: 14px;
  background: none;
  background-color: #fff;
}
.carousel-indicators li.active {
  background-color: #5078B9;
}

.carousel__caption {
  z-index: 100;
  position: absolute;
  left: 0;
  top: 40px;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.carousel__subtitle {
  color: #5078B9;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 25px;
  margin-bottom: 20px;
}

.carousel__title {
  text-transform: uppercase;
  font-size: 28px;
  line-height: 35px;
  max-width: 490px;
  margin-bottom: 85px;
}

.carousel__btn {
  font-size: 20px;
  line-height: 25px;
  padding: 14px 33px;
  border-radius: 20px;
  color: #fff;
  background-color: #103784;
  transition: opacity 0.2s ease-in-out;
}
.carousel__btn:hover {
  color: #fff;
  opacity: 0.8;
}

.carousel__arrows {
  width: 100px;
}

/* popular */
.popular {
  max-width: 1520px;
  margin: 0 auto 56px auto;
  background-color: transparent;
}

.popular__container {
  display: grid;
  grid-template-rows: repeat(2, 300px);
  grid-template-columns: repeat(5, 300px);
  gap: 5px;
}

.popular__title {
  color: #000;
  font-size: 28px;
  line-height: 35px;
  font-weight: 500;
  margin: 44px 0 20px 0;
}

.popular__item {
  position: relative;
  height: 100%;
}
.popular__item_small {
  padding-top: 80px;
}

.popular__img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-height: 190px;
  max-width: 200px;
}

.popular__subtitle {
  position: absolute;
  width: 100%;
  padding: 0 20px;
  margin-bottom: 35px;
  left: 0;
  bottom: 0;
  text-align: center;
  color: #000;
  font-size: 18px;
  line-height: 18px;
}

.popular__description {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  padding: 40px 30px;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #5078B9;
  opacity: 0;
  transition: all 0.2s ease-in-out;
}
.popular__description:hover {
  opacity: 0.9;
  display: block;
}

.popular__description-text {
  line-height: 16px;
  color: #fff;
}
.popular__description-text:last-child {
  text-decoration: underline;
}
.popular__description-text:last-child:hover {
  color: #fff;
}

.popular_catalog {
  min-width: 100%;
  max-width: 100%;
  padding: 50px calc((100% - 1520px) / 2);
  margin: 0;
  background-color: #F9F9F9;
}
.popular_catalog .popular__title {
  margin-top: 0;
}
.popular_catalog .popular__container {
  grid-template-rows: repeat(3, 300px);
}
.popular_catalog .popular__item:hover .popular__subtitle {
  display: none;
}
.popular_catalog .popular__item:hover .popular__description {
  display: flex;
}

/* overlay for catalog hover */
/* .main-overlay {
  display: none;
  position: absolute;
  z-index: 4;
  width: $main-overlay-width;
  background: #f2f6ff;
  height: 100%;
  top: 0;
  border-radius: 25px;
  color: transparent;
  overflow: hidden;

  &.active {
    display: block;
    &::before, &::after {
      position: absolute;
      top: 50%;
      left: 50%;
      content: "aa";
      animation: 7s -8s move infinite ease-in-out alternate;
      @include dots(20);
    }
    &::after {
      animation-duration: 15s;
      animation-delay: 0s;
    }
  }
} */
/* .name-overlay {
  display: none;
  position: fixed;
  z-index: 5;
  min-width: 400px;
  height: 10px;
  top: 0;
  background-color: $white-blue;

  &.active {
    display: block;
  }

} */
#overlay-catalog {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
}

/* catalog */
.catalog {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 7px;
  padding: 56px calc((100% - 1520px) / 2);
}

.catalog__title {
  position: relative;
  z-index: 5;
  color: #000;
  font-size: 28px;
  line-height: 35px;
  font-weight: 500;
  margin: 0 0 20px 0;
}

.catalog__sidebar {
  width: 375px;
}

.catalog__nav {
  height: -moz-fit-content;
  height: fit-content;
  position: relative;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.catalog__name {
  background-color: #fff;
  min-width: 375px;
  height: 100%;
  font-size: 20px;
  line-height: 25px;
  display: block;
  padding: 16px 33px;
  z-index: 5;
  border-bottom: #E4EAF7 1px solid;
  border-right: #E4EAF7 1px solid;
  border-left: #E4EAF7 1px solid;
}
.catalog__name:first-child {
  border-radius: 20px 20px 0 0;
}
.catalog__name:last-child {
  border-radius: 0 0 20px 20px;
}
.catalog__name:hover {
  border: none;
  background-color: transparent;
  /* min-width: 397px;
  padding-right: 50px;
  display: block;
  background-color: $light-gray;

  background: #f2f6ff;

  &::before, &::after {
    width: 397px;
    height: 100px;
    color: transparent;
    position: absolute;
    top: 50%;
    left: 500%;
    content: "a";
    animation: 10s -8s move infinite ease-in-out alternate;
    @include dots(10);
  }
  &::after {
    animation-duration: 15s;
    animation-delay: 0s;
  } */
}

.catalog__container {
  z-index: 2;
  width: 100%;
}

.catalog__grid {
  position: relative;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 587px);
  gap: 7px;
  margin-bottom: 20px;
  transition: all 0.3s ease-in-out;
}
.catalog__grid.active {
  padding: 20px;
  grid-template-rows: repeat(3, 283px);
}
.catalog__grid.active .catalog__buy {
  display: none;
}
.catalog__grid.active .catalog__subtext {
  display: none;
}
.catalog__grid.active .catalog__like {
  display: none;
}
.catalog__grid.active .catalog__img {
  -o-object-fit: contain;
     object-fit: contain;
}

.catalog__item {
  z-index: 5;
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 40px 35px;
  gap: 20px;
  border: #E4EAF7 2px solid;
  border-radius: 20px;
}
.catalog__item_small {
  padding: 30px;
  width: 300px;
  height: 400px;
}

.catalog__img {
  display: block;
  width: 220px;
  max-height: 340px;
  -o-object-fit: contain;
     object-fit: contain;
  overflow: hidden;
}

.catalog__buy {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 15px;
}

.catalog__price {
  font-size: 35px;
  line-height: 35px;
  font-weight: 700;
}

.catalog__basket {
  padding: 8px 20px;
  border-radius: 25px;
  background-color: #5078B9;
}

.catalog__text {
  margin-bottom: 15px;
}

.catalog__subtext {
  display: block;
  width: 100%;
  text-align: end;
}

.catalog__description {
  text-decoration: underline;
  float: left;
}
.catalog__description:hover {
  opacity: 0.8;
}

.catalog__avlb-good {
  color: #5078B9;
}

.catalog__like {
  display: block;
  width: 30px;
  height: 33px;
  position: absolute;
  top: 20px;
  right: 25px;
  z-index: 3;
  cursor: pointer;
  background: url(./img/like-blue.svg) center/contain no-repeat;
}
.catalog__like.active {
  background-image: url(./img/like-blue-active.svg);
}

/* pagination */
.pagination {
  margin: 0;
}

.pagination__ellipsis {
  display: flex;
  flex-direction: row;
  color: #5078B9;
  width: 300px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.page-item {
  height: 44px;
}
.page-item .page-link {
  width: 44px;
  height: 44px;
  padding: 10px 16px;
  border: none;
  background-color: transparent;
  color: #5078B9;
  text-align: center;
}
.page-item .page-link.active {
  border-radius: 20px;
  color: #fff;
  background-color: #5078B9;
}
.page-item .page-link.next {
  border-radius: 20px;
  margin-left: 15px;
  width: 97px;
  background-color: #E4EAF7;
}

/* projects */
.projects {
  position: relative;
  background-color: #E4EAF7;
  padding: 56px calc((100% - 1520px) / 2);
  border-radius: 0 0 20px 20px;
}
.projects.sub {
  border-radius: 0;
}

.projects__container {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 7px;
}

.projects__title {
  color: #000;
  font-size: 28px;
  line-height: 35px;
  font-weight: 500;
  margin-bottom: 24px;
}

.projects__card {
  min-width: 335px;
  height: 455px;
  padding: 20px 35px;
}

.projects__img {
  max-width: 300px;
  min-height: 300px;
  max-height: 300px;
  margin-bottom: 10px;
}

.projects__overlay {
  top: 15%;
  right: 60px;
  height: 80%;
  position: absolute;
}

/* newsletter */
.newsletter {
  margin-top: -27px;
  padding-top: 27px;
  width: 100%;
  height: 135px;
  background-color: #5078B9;
  border-radius: 0 0 20px 20px;
}

.newsletter__container {
  width: 915px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.newsletter__text {
  width: 440px;
  margin-right: 15px;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
}

.newsletter__title {
  color: #fff;
  font-size: 28px;
  line-height: 35px;
  font-weight: 500;
  margin: 0;
}

.newsletter__subtitle {
  color: #fff;
  font-size: 20px;
  line-height: 25px;
  font-weight: 500;
}

.newsletter__logo {
  height: 73px;
  width: 73px;
  margin-right: 5px;
}

.newsletter__input {
  height: 50px;
  width: 307px;
  font-size: 16px;
  line-height: 21px;
  padding: 13px 23px;
  border-radius: 20px 0 0 20px;
  background-color: #fff;
}

.newsletter__btn {
  height: 50px;
  width: 68px;
  border-radius: 0 20px 20px 0;
  background-color: #103784;
}

/* footer */
.footer {
  width: 100%;
  height: 345px;
  padding: 56px calc((100% - 1520px) / 2);
  background-color: #F9F9F9;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.footer.blue {
  background-color: #E4EAF7;
}

.footer__container {
  list-style: none;
  position: relative;
  max-width: 425px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
}
.footer__container:first-child {
  padding-bottom: 50px;
}
.footer__container:last-child {
  padding-bottom: 50px;
  max-width: 230px;
}

.footer__item {
  font-size: 16px;
  line-height: 16px;
  display: block;
  max-width: 282px;
  color: #000;
  margin: 0;
}
.footer__item_big {
  font-weight: 700;
}
.footer__item:hover {
  text-decoration: none;
  color: #000;
}

.footer__logo {
  width: 263px;
  height: 67px;
}

.footer__link {
  color: #5078B9;
}

.footer__description {
  font-size: 16px;
  line-height: 30px;
}

.footer__btn {
  font-size: 20px;
  line-height: 25px;
  font-weight: 600;
  color: #fff;
  padding: 14px 33px;
  border-radius: 20px;
  background-color: #103784;
}

/* breadcrumb */
.breadcrumb {
  background-color: #F9F9F9;
  padding: 0 calc((100% - 1520px) / 2) 20px calc((100% - 1520px) / 2);
  margin: 0;
}

.breadcrumb-item.active::before {
  content: "" !important;
  width: 9px;
  height: 15px;
  padding: 0 30px;
  background: url(./img/arr-right.svg) center/contain no-repeat;
}

/* product */
.product {
  background-color: #F9F9F9;
  padding: 56px calc((100% - 1520px) / 2);
}

.product__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.product__title {
  color: #000;
  font-size: 28px;
  line-height: 35px;
  font-weight: 500;
  margin-bottom: 30px;
}

.product__main {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.product__imgs {
  display: flex;
  flex-direction: row;
  gap: 7px;
}

.product__main-img {
  position: relative;
  width: 530px;
  height: 530px;
  background-color: #fff;
  border: 2px solid #E4EAF7;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.product__like {
  display: block;
  width: 40px;
  height: 44px;
  position: absolute;
  top: 15px;
  right: 20px;
  background: url(./img/like-blue.svg) center/contain no-repeat;
  cursor: pointer;
}
.product__like.active {
  background-image: url(./img/like-blue-active.svg);
}

.product__nav {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 7px;
}

.product__nav-item {
  width: 100px;
  height: 100px;
  padding: 10px;
  background-color: #fff;
  border: 2px solid #E4EAF7;
  border-radius: 20px;
  cursor: pointer;
}
.product__nav-item.active {
  border: 2px solid #5078B9;
}

.product__description {
  list-style: none;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 20px 30px 0 35px;
}

.product__art {
  color: #5078B9;
  margin-bottom: 20px;
  font-size: 20px;
  line-height: 25px;
}

.product__description-item {
  padding: 0;
  margin: 0 0 24px 0;
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: space-between;
}

.product__subtitle {
  min-width: -moz-fit-content;
  min-width: fit-content;
  width: -moz-max-content;
  width: max-content;
  margin: 0;
  padding: 0;
  color: #6C6C6C;
  font-size: 20px;
  line-height: 25px;
}

.product__underline {
  width: 100%;
  height: 16px;
  margin: 2px;
  border-bottom: 1px solid #E4EAF7;
}

.product__text {
  min-width: 148px;
  max-width: 148px;
  margin: 0;
  padding: 0;
  font-size: 20px;
  line-height: 25px;
}

.product__link {
  color: #103784;
  text-decoration: underline;
  font-size: 20px;
  line-height: 25px;
}

/* product sidebar */
.product__sidebar {
  max-height: 430px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.product__sidebar-main {
  height: 300px;
  width: 270px;
  padding: 20px;
  border: 2px solid #E4EAF7;
  border-radius: 20px;
  box-shadow: -7px -7px 30px 0px rgba(16, 55, 132, 0.0588235294);
}

.product__price {
  font-size: 28px;
  line-height: 35px;
  color: #D1000F;
  margin: 0;
}
.product__price.sub {
  font-size: 20px;
  line-height: 25px;
  color: #000;
  text-decoration: line-through;
}

.product__subtext {
  margin: 0 0 16px 0;
}

.product__counter {
  height: 35px;
  margin-bottom: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.product__counter p {
  margin: 0;
}

.product__counter-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  line-height: 35px;
  border: 2px solid #E4EAF7;
  padding: 0 14px;
  border-radius: 20px 0 0 20px;
}
.product__counter-btn.right {
  border-radius: 0 20px 20px 0;
}

.product__input {
  width: 68px;
  height: 39px;
  margin: 0;
  font-size: 20px;
  text-align: center;
  border-top: 2px solid #E4EAF7;
  border-bottom: 2px solid #E4EAF7;
}

.product__sidebar-btn {
  min-width: 100%;
  padding: 14px 0;
  text-align: center;
  font-size: 20px;
  line-height: 25px;
  font-weight: 600;
  border-radius: 20px;
  border: 2px solid #E4EAF7;
  box-shadow: -7px -7px 30px 0px rgba(16, 55, 132, 0.0588235294);
}
.product__sidebar-btn:hover {
  color: #fff;
  text-decoration: none;
  background-color: #5078B9;
  border: none;
}
.product__sidebar-btn.active {
  color: #fff;
  background-color: #5078B9;
  border: none;
  padding: 20px 15px;
  margin-bottom: 15px;
}

.product__desc-info {
  text-align: center;
  line-height: 25px;
}

/* nav for description product */
.infonav {
  background-color: #F9F9F9;
  padding: 60px calc((100% - 1520px) / 2) 30px calc((100% - 1520px) / 2);
  display: flex;
  flex-direction: row;
}

.infonav__item {
  display: flex;
  align-items: center;
  height: 43px;
  background-color: #fff;
  color: #5078B9;
  text-transform: uppercase;
  font-weight: 700;
  border: 2px solid #5078B9;
  border-radius: 20px;
  padding: 10px 30px;
  box-shadow: -7px -7px 30px 0px rgba(16, 55, 132, 0.0588235294);
}
.infonav__item:first-child {
  padding: 10px 70px 10px 30px;
  margin-right: -45px;
}
.infonav__item:nth-child(2) {
  padding: 10px 30px 10px 60px;
  margin-right: 30px;
}
.infonav__item.active {
  padding: 10px 30px;
  z-index: 2;
  background-color: #5078B9;
  color: #fff;
}

.infonav__title {
  font-size: 28px;
  line-height: 35px;
}

/* description */
.description {
  background-color: #F9F9F9;
  padding: 0 calc((100% - 1520px) / 2);
  display: grid;
  grid-template-columns: 1fr 530px;
  grid-template-rows: 1fr;
}
.description .product__text {
  min-width: 469px;
}

.description__text {
  width: 100%;
}

/* dimensions */
.dimensions {
  background-color: #F9F9F9;
  padding: 0 calc((100% - 1520px) / 2) 55px;
}

.dimensions__text {
  max-width: 469px;
  margin-bottom: 25px;
}

.dimensions__main {
  width: 100%;
  max-height: 800px;
  border-radius: 20px;
  border: 2px solid #E4EAF7;
  -o-object-fit: contain;
     object-fit: contain;
  margin-bottom: 5px;
}

.dimensions__table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  border: 1px solid #E4EAF7;
  border-radius: 20px;
  background-color: #fff;
}
.dimensions__table thead th {
  background-color: #E4EAF7;
}
.dimensions__table thead th:first-child {
  border-radius: 20px 0 0 0;
}
.dimensions__table thead th:last-child {
  border-radius: 0 20px 0 0;
}
.dimensions__table th,
.dimensions__table td {
  padding: 10px;
  border-right: 1px solid #E4EAF7;
  border-bottom: 1px solid #E4EAF7;
  text-align: center;
}
.dimensions__table th.pad,
.dimensions__table td.pad {
  text-align: start;
  padding: 10px 30px;
}
.dimensions__table th:last-child,
.dimensions__table td:last-child {
  border-right: none;
}
.dimensions__table tr:last-child th,
.dimensions__table tr:last-child td {
  border-bottom: none;
}