/* variables */
$light-gray: #F9F9F9;
$white-blue: #E4EAF7;
$gray: #ECECEC;
$dark-gray: #6C6C6C;
$blue: #5078B9;
$dark-blue: #103784;
$white: #fff;
$black: #000;
$red: #D1000F;

//var(--desktop-width): 1520px;
$border-radius: 20px;

/* reset */

* {
  color: $black;
  font-size: var(--font-size-s);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a,
input,
button,
textarea,
select {
  text-decoration: none;
  color: $black;
  font: inherit;
  border: none;
  background: initial;
  cursor: pointer;
  outline: 0 !important;
}

a {
  &:hover {
    text-decoration: none;
    color: #000;
  }
}

/* animation */

@mixin dots($count) {
  $text-shadow: ();

  @for $i from 0 through $count {
    $text-shadow: $text-shadow,
    (-.5+(random()) * 4)+em (-.5+(random()) * 4)+em (10+(random()) * 2)+px hsla(220, 78%, 29%, 1);
  }

  text-shadow: $text-shadow;
}

html {
  background: #f2f6ff;
}

body,
head {
  display: block;
  font-size: 52px;
  color: transparent;
  background: transparent;

  --desktop-width: 1520px;

  --font-size-s: 16px;
  --font-line-s: 21px;

  --font-size-m: 18px;
  --font-line-m: 18px;

  --font-size-l: 20px;
  --font-line-l: 25px;

  --font-size-xl: 30px;
  --font-line-xl: 40px;
}

head::before,
head::after,
body::before,
body::after {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 3em;
  height: 3em;
  content: "a";
  z-index: -1;

  animation: 25s -2s move infinite ease-in-out alternate;
}

body::before {
  @include dots(10);
  animation-duration: 28s;
  animation-delay: -15s;
}

body::after {
  @include dots(10);
  animation-duration: 25s;
  animation-delay: -2s;
}

head::before {
  @include dots(10);
  animation-duration: 32s;
  animation-delay: -32s;
}

head::after {
  @include dots(10);
  animation-duration: 20s;
  animation-delay: -19s;
}

@keyframes move {
  from {
    transform: rotate(0deg) scale(12) translateX(-20px);
  }

  to {
    transform: rotate(180deg) scale(18) translateX(20px);
  }
}


.card {
  width: 300px;
  height: 300px;
  border-radius: $border-radius;
  background-color: $white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  padding-top: 30px;
}

.root {
  padding: 0 calc((100% - var(--desktop-width)) / 2);
}

/* header */

.header {
  width: 100%;

  &__first {
    height: 44px;
    max-width: var(--desktop-width);
    margin: 0 auto;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    color: $dark-blue;
  }

  &__link {
    text-decoration: none;
    margin-right: 22px;
    font-size: var(--font-size-s);
    line-height: var(--font-line-s);
  }

  &__btn {
    font-size: var(--font-size-m);
    line-height: var(--font-line-m);
    background-color: $blue;
    color: $white;
    text-decoration: underline;
    height: 100%;
    width: 190px;
    border-radius: 0 0 20px 20px;
  }

  &__container {
    background-color: $light-gray;
    padding: 30px calc((100% - var(--desktop-width)) / 2);
  }

  &__main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 0 30px 0;
    background-color: $light-gray;
  }

  &__input {
    width: 55%;
    font-size: var(--font-size-s);
    line-height: var(--font-line-s);
    border: $dark-blue solid 2px;
    padding: 13px 70px 13px 23px;
    border-radius: $border-radius;
    background: url(./img/Лупа.svg) calc(100% - 23px) / 17px no-repeat;
    background-color: $white;
  }

  &__icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  &__icon {
    margin-right: 30px;

    &:last-child {
      margin: 0;
    }
  }

  &__nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-width: var(--desktop-width);
    padding: 12px 63px;
    margin: 0 auto;
    background-color: $white;
    border-radius: $border-radius;
    border: 2px solid $white-blue;
    box-shadow: -7px -7px 30px 0px #1037840F;
  }

  &__nav-link {
    color: $dark-blue;
    font-size: var(--font-size-s);
    line-height: var(--font-line-s);
    text-transform: uppercase;
    background-color: $white;
    text-decoration: none;
    font-weight: 600;
  }
}

.header-mobile {
  display: none;
  width: 100%;

  &__first {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: $white-blue;
    width: 100%;
    height: 72px;
    padding: 18px calc((100% - var(--desktop-width)) / 2);
    color: $dark-blue;
  }

  &__logo {
    width: 150px;
    height: 40px;
    object-fit: contain;
  }

  &__hamb {
    width: 21px;
    height: 16px;
    background: url(./img/hamb.svg) center/contain no-repeat;
  }

  &__main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: $light-gray;
    padding: 15px calc((100% - var(--desktop-width)) / 2);
  }

  &__input {
    width: 60%;
    font-size: var(--font-size-s);
    line-height: var(--font-line-s);
    border: $dark-blue solid 2px;
    padding: 8px 38px 8px 23px;
    margin: 0 15px 0 0;
    border-radius: $border-radius;
    background: url(./img/Лупа.svg) calc(100% - 18px) / 17px no-repeat;
    background-color: $white;
  }

  &__icon {
    width: 20px;
    height: 20px;
    margin-right: 16px;

    &:last-child {
      margin: 0;
    }
  }

  &__container {
    position: absolute;
    top: 72px;
    left: 0;
    z-index: 5;
    width: 100%;
    background-color: $white-blue;
  }

  &__nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 12px 0 50px 0;
    margin: 0 auto;
  }

  &__nav-link {
    max-width: 60%;
    text-align: center;
    color: $dark-blue;
    font-size: var(--font-size-l);
    line-height: var(--font-line-l);
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 600;
    margin-bottom: 12px;

    &:last-child {
      margin: 0;
    }
  }

  &__link {
    font-weight: 400;
    text-decoration: none;
    text-transform: none;
    font-size: var(--font-size-s);
    line-height: var(--font-line-s);
  }

  &__btn {
    font-size: var(--font-size-l);
    line-height: var(--font-line-l);
    background-color: $blue;
    color: $white;
    padding: 8px 16px;
    border-radius: $border-radius;
  }
}

/* swiper */

.swiper-container {
  padding-bottom: 57px;
  width: 100%;
  background-color: $light-gray;
}

.swiper-indicators {
  width: 115px;
  margin: 0 auto 34px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  li {
    border-radius: 50%;
    width: 14px;
    height: 14px;
    background: none;
    background-color: $white;

    &.active {
      background-color: $blue;
    }
  }
}

.swiper {
  &__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 500px;
    padding: 100px;
  }

  &__img {
    width: 720px;
    object-fit: contain;
  }

  &__caption {
    display: flex;
    flex-direction: column;
    align-items: start;
  }

  &__subtitle {
    color: $blue;
    text-transform: uppercase;
    font-size: var(--font-size-l);
    line-height: var(--font-line-l);
    margin-bottom: 20px;
  }

  &__title {
    text-transform: uppercase;
    font-size: var(--font-size-xl);
    line-height: var(--font-line-xl);
    max-width: 490px;
    margin-bottom: 85px;
  }

  &__btn {
    font-size: var(--font-size-l);
    line-height: var(--font-line-l);
    padding: 14px 33px;
    border-radius: $border-radius;
    color: $white;
    background-color: $dark-blue;
    transition: opacity .2s ease-in-out;

    &:hover {
      color: $white;
      opacity: .8;
    }
  }

  &__arrows {
    width: 100px;
  }
}

.swiper-container {
  width: 100%;
  padding: 30px calc((100% - var(--desktop-width)) / 2);
  background-color: $light-gray;
}

.swiper-wrapper {
  background-color: $gray;
  border-radius: $border-radius;
}

.swiper-pagination-bullet {
  border-radius: 50% !important;
  width: 14px !important;
  height: 14px !important;
  background: none !important;
  background-color: $white !important;
  opacity: 1 !important;
  margin-right: 10px !important;
}

.swiper-pagination-bullet-active {
  background-color: $blue !important;
}

.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizonta {
  bottom: 30px !important;
}

/* popular */

.popular {
  max-width: var(--desktop-width);
  margin: 0 auto 56px auto;
  background-color: transparent;

  &__container {
    display: grid;
    grid-template-rows: repeat(2, 300px);
    grid-template-columns: repeat(5, 300px);
    overflow: hidden;
    gap: 5px;
  }

  &__title {
    color: $black;
    font-size: var(--font-size-xl);
    line-height: var(--font-line-xl);
    font-weight: 500;
    margin: 44px 0 20px 0;
  }

  &__item {
    position: relative;
    height: 100%;
    width: 100%;

    &_small {
      padding-top: 80px;
    }
  }

  &__img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 180px;
    max-height: 180px;
    max-width: 200px;
    object-fit: contain;
    margin-bottom: 20px;
  }

  &__subtitle {
    width: 100%;
    padding: 0 20px;
    margin-bottom: 35px;
    text-align: center;
    color: $black;
    font-size: var(--font-size-m);
    line-height: var(--font-line-m);
  }

  &__description {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: $border-radius;
    padding: 40px 30px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: $blue;
    opacity: 0;
    transition: all .2s ease-in-out;

    &:hover {
      opacity: 0.9;
      display: block;
    }
  }

  &__description-text {
    line-height: var(--font-size-s);
    color: $white;

    &:last-child {
      text-decoration: underline;

      &:hover {
        color: $white;
      }
    }
  }

  &_catalog {
    min-width: 100%;
    max-width: 100%;
    padding: 50px calc((100% - var(--desktop-width)) / 2);
    margin: 0;
    background-color: $light-gray;

    .popular__item:hover {
      .popular__subtitle {
        display: none;
      }

      .popular__description {
        display: flex;
      }
    }

    .popular__title {
      margin-top: 0;
    }

    .popular__container {
      grid-template-rows: repeat(3, 300px);
    }
  }
}

/* overlay for catalog hover */

#overlay-catalog {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
}

/* catalog */

.catalog {
  background-color: $light-gray;
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 7px;
  padding: 56px calc((100% - var(--desktop-width)) / 2);
  //transition: 0s all 0 ease-in-out;

  &.active {
    background-color: transparent;
    //transition-delay: 0s;
  }

  &__all-btn {
    display: none;
    width: fit-content;
    background-color: $blue;
    color: $white;
    border-radius: $border-radius;
    text-transform: uppercase;
    padding: 10px 27px;
    margin: 25px auto;
    font-size: var(--font-size-xl);
    line-height: var(--font-line-xl);
    font-weight: 700;
  }

  &__title {
    position: relative;
    z-index: 5;
    color: $black;
    font-size: var(--font-size-xl);
    line-height: var(--font-line-xl);
    font-weight: 500;
    margin: 0 0 20px 0;
  }

  &__nav {
    height: fit-content;
    position: relative;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__name {
    background-color: $white;
    min-width: 375px;
    height: 100%;

    font-size: var(--font-size-l);
    line-height: var(--font-line-l);
    display: block;
    padding: 16px 33px;
    z-index: 5;
    border-bottom: $white-blue 1px solid;
    border-right: $white-blue 1px solid;
    border-left: $white-blue 1px solid;

    &:first-child {
      border-radius: $border-radius $border-radius 0 0;
    }

    &:last-child {
      border-radius: 0 0 $border-radius $border-radius;
    }

    &:hover {
      border: none;
      background-color: transparent;
    }
  }

  &__container {
    z-index: 2;
    width: 100%;
  }

  &__grid {
    position: relative;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 587px);
    gap: 7px;
    margin-bottom: 20px;
    overflow: hidden;

    &.active {
      padding: 20px;
      grid-template-rows: repeat(3, 283px);

      .catalog__buy {
        display: none;
      }

      .catalog__subtext {
        display: none;
      }

      .catalog__like {
        display: none;
      }

      .catalog__basket {
        display: none;
      }

      .catalog__img {
        object-fit: contain;
      }
    }
  }

  &__item {
    z-index: 5;
    position: relative;
    list-style: none;

    &_small {
      width: 300px;
      height: 400px;

      .catalog__content {
        padding: 30px 30px 20px 30px;
      }
    }
  }

  &__content {
    width: 100%;
    min-width: 283px;
    height: 100%;
    background-color: $white;
    border: $white-blue 2px solid;
    border-radius: $border-radius;
    padding: 40px 35px;
    gap: 20px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
  }

  &__img {
    display: block;
    max-width: 220px;
    max-height: 340px;
    height: fit-content;
    margin: 0 auto;
    object-fit: contain;
    overflow: hidden;
  }

  &__buy {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 15px;
  }

  &__price {
    font-size: var(--font-line-xl);
    line-height: var(--font-line-xl);
    font-weight: 700;
  }

  &__basket {
    position: absolute;
    z-index: 5;
    right: 25px;
    bottom: 146px;
    height: 32px;
    width: 50px;
    border-radius: 25px;
    background: url(./img/basket-light.svg) center/22px 19px no-repeat;
    background-color: $blue;
  }

  &__text {
    margin-bottom: 15px;
  }

  &__subtext {
    display: block;
    width: 100%;
    text-align: end;
  }

  &__description {
    text-decoration: underline;
    float: left;
    margin: 0;

    &:hover {
      opacity: 0.8;
    }
  }

  &__avlb-good {
    color: $blue;
  }

  &__like {
    display: block;
    width: 30px;
    height: 33px;
    position: absolute;
    top: 20px;
    right: 22px;
    z-index: 5;
    cursor: pointer;
    background: url(./img/like-blue.svg) center/contain no-repeat;

    &.active {
      background-image: url(./img/like-blue-active.svg);
    }
  }
}

/* pagination */

.pagination {
  margin: 0;

  &__ellipsis {
    display: flex;
    flex-direction: row;
    color: $blue;
    width: 260px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  .page-item {
    .page-link {
      padding: 10px 16px;
      border: none;
      background-color: transparent;
      color: $blue;
      text-align: center;

      &.active {
        border-radius: $border-radius;
        color: $white;
        background-color: $blue;
      }

      &.next {
        border-radius: $border-radius;
        margin-left: 15px;
        width: 97px;
        background-color: $white-blue;
      }
    }
  }
}

/* projects */

.projects {
  position: relative;
  z-index: 2;
  background-color: $white-blue;
  padding: 56px calc((100% - var(--desktop-width)) / 2);
  border-radius: 0 0 20px 20px;
  overflow: hidden;

  &.sub {
    border-radius: 0;

    .catalog__avlb-good {
      float: left;
    }
  }

  &__container {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 7px;
    overflow: hidden;
    position: relative;

    .catalog__item {
      z-index: 1;
    }
  }

  &__overlay {
    z-index: 2;
    height: 100%;
    width: 5%;
    top: 0;
    right: 0;
    position: absolute;
    background: linear-gradient(to right, transparent, $white-blue);
  }

  &__title {
    color: $black;
    font-size: var(--font-size-xl);
    line-height: var(--font-line-xl);
    font-weight: 500;
    margin-bottom: 24px;
  }

  &__card {
    min-width: 335px;
    height: 455px;
    padding: 20px 35px;
  }

  &__img {
    max-width: 300px;
    max-height: 300px;
    margin-bottom: 10px;
    object-fit: contain;
  }
}

/* newsletter */

.newsletter {
  position: relative;
  z-index: 1;
  margin: -30px 0;
  padding: 40px calc((100% - var(--desktop-width)) / 2) 15px calc((100% - var(--desktop-width)) / 2);
  width: 100%;
  background-color: $blue;
  border-radius: 0 0 20px 20px;

  &__container {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 7px;
  }

  &__text {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
  }

  &__title {
    color: $white;
    font-size: var(--font-size-xl);
    line-height: var(--font-line-xl);
    font-weight: 500;
    margin: 0;
  }

  &__subtitle {
    color: $white;
    font-size: var(--font-size-l);
    line-height: var(--font-line-l);
    font-weight: 500;
  }

  &__logo {
    height: 73px;
    width: 73px;
    margin-right: 5px;
  }

  &__input {
    height: 50px;
    width: 307px;
    font-size: var(--font-size-s);
    line-height: var(--font-line-s);
    padding: 13px 23px;
    border-radius: 20px 0 0 20px;
    background-color: $white;
  }

  &__btn {
    height: 50px;
    width: 68px;
    border-radius: 0 20px 20px 0;
    background-color: $dark-blue;
  }
}

/* footer */

.footer {
  width: 100%;
  height: 345px;
  padding: 56px calc((100% - var(--desktop-width)) / 2);
  background-color: $light-gray;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  &.blue {
    background-color: $white-blue;
  }

  &__container {
    list-style: none;
    position: relative;
    max-width: 425px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;

    &:first-child {
      padding-bottom: 50px;
    }

    &:last-child {
      padding-bottom: 50px;
      max-width: 230px;
    }
  }

  &__item {
    font-size: var(--font-size-s);
    line-height: var(--font-size-s);
    display: block;
    max-width: 282px;
    color: $black;
    margin: 0;

    &_big {
      font-weight: 700;
    }

    &:hover {
      text-decoration: none;
      color: $black;
    }
  }

  &__logo {
    width: 263px;
    height: 67px;
  }

  &__link {
    color: $blue;
  }

  &__description {
    font-size: 16px;
    line-height: 30px;
  }

  &__btn {
    font-size: var(--font-size-l);
    line-height: var(--font-line-l);
    font-weight: 600;
    color: $white;
    padding: 14px 33px;
    border-radius: $border-radius;
    background-color: $dark-blue;
  }
}

/* breadcrumb */

.breadcrumb {
  background-color: $light-gray;
  padding: 0 calc((100% - var(--desktop-width)) / 2) 20px calc((100% - var(--desktop-width)) / 2);
  margin: 0;
}

.breadcrumb-item.active::before {
  content: "" !important;
  width: 9px;
  height: var(--font-size-s);
  padding: 0 30px;
  background: url(./img/arr-right.svg) center/contain no-repeat;
}

/* product */

.product {
  background-color: $light-gray;
  padding: 56px calc((100% - var(--desktop-width)) / 2);

  &__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__title {
    color: $black;
    font-size: var(--font-size-xl);
    line-height: var(--font-line-xl);
    font-weight: 500;
    margin-bottom: 30px;
  }

  &__main {
    width: 100%;
    display: flex;
    flex-direction: row;
  }

  &__imgs {
    display: flex;
    flex-direction: row;
    gap: 7px;
  }

  &__main-img {
    position: relative;
    width: 530px;
    height: 530px;
    padding: 20px;
    background-color: $white;
    border: 2px solid $white-blue;
    border-radius: $border-radius;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: contain;
  }

  &__like {
    display: block;
    width: 40px;
    height: 44px;
    position: absolute;
    top: 15px;
    right: 20px;
    background: url(./img/like-blue.svg) center/contain no-repeat;
    cursor: pointer;

    &.active {
      background-image: url(./img/like-blue-active.svg);
    }
  }

  &__nav {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 7px;
  }

  &__nav-item {
    width: 100px;
    height: 100px;
    padding: 10px;
    background-color: $white;
    border: 2px solid $white-blue;
    border-radius: $border-radius;
    cursor: pointer;

    &.active {
      border: 2px solid $blue;
    }
  }

  &__description {
    list-style: none;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 20px 25px 0 35px;
  }

  &__art {
    color: $blue;
    margin-bottom: 20px;
    font-size: var(--font-size-l);
    line-height: var(--font-line-l);
  }

  &__description-item {
    padding: 0;
    margin: 0 0 24px 0;
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: space-between;
  }

  &__subtitle {
    min-width: fit-content;
    width: max-content;
    margin: 0;
    padding: 0;
    color: $dark-gray;
    font-size: var(--font-size-l);
    line-height: var(--font-line-l);
  }

  &__underline {
    width: 100%;
    height: 16px;
    margin: 2px;
    border-bottom: 1px solid $white-blue;
  }

  &__text {
    min-width: 148px;
    max-width: 148px;
    margin: 0;
    padding: 0;
    font-size: var(--font-size-l);
    line-height: var(--font-line-l);
  }

  &__link {
    color: $dark-blue;
    text-decoration: underline;
    font-size: var(--font-size-l);
    line-height: var(--font-line-l);
  }

  /* product sidebar */

  &__sidebar {
    max-height: 430px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  &__sidebar-main {
    height: 300px;
    width: 270px;
    padding: 20px;
    border: 2px solid $white-blue;
    border-radius: $border-radius;
    box-shadow: -7px -7px 30px 0px #1037840F;
  }

  &__price {
    font-size: var(--font-size-xl);
    line-height: var(--font-line-xl);
    color: $red;
    margin: 0;

    &.sub {
      font-size: var(--font-size-l);
      line-height: var(--font-line-l);
      color: $black;
      text-decoration: line-through;
    }
  }

  &__subtext {
    margin: 0 0 16px 0;
  }

  &__counter {
    height: 35px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    p {
      margin: 0;
    }
  }

  &__counter-btn {
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--font-size-xl);
    line-height: var(--font-line-xl);
    border: 2px solid $white-blue;
    padding: 0 14px;
    border-radius: 20px 0 0 20px;

    &.right {
      border-radius: 0 20px 20px 0;
    }
  }

  &__input {
    width: 68px;
    height: 39px;
    margin: 0;
    font-size: var(--font-size-l);
    text-align: center;
    border-top: 2px solid $white-blue;
    border-bottom: 2px solid $white-blue;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      appearance: none;
    }
  }

  &__sidebar-btn {
    min-width: 100%;
    padding: 14px 0;
    text-align: center;
    font-size: var(--font-size-l);
    line-height: var(--font-line-l);
    font-weight: 600;
    border-radius: $border-radius;
    border: 2px solid $white-blue;
    box-shadow: -7px -7px 30px 0px #1037840F;

    &:hover {
      color: $white;
      text-decoration: none;
      background-color: $blue;
      border: none;
    }

    &.active {
      color: $white;
      background-color: $blue;
      border: none;
      padding: 17px 13px;
      margin-bottom: 15px;
    }
  }

  &__desc-info {
    text-align: center;
    line-height: var(--font-line-l);
    margin: 0;
  }
}

/* nav for description product */

.infonav {
  background-color: $light-gray;
  padding: 60px calc((100% - var(--desktop-width)) / 2) 30px calc((100% - var(--desktop-width)) / 2);
  display: flex;
  flex-direction: row;
  align-items: center;

  &__item {
    display: flex;
    align-items: center;
    height: 43px;
    background-color: $white;
    color: $blue;
    text-transform: uppercase;
    font-weight: 700;
    border: 2px solid $blue;
    border-radius: $border-radius;
    padding: 10px 30px;
    box-shadow: -7px -7px 30px 0px #1037840F;

    &:first-child {
      padding: 10px 70px 10px 30px;
      margin-right: -45px;
    }

    &:nth-child(2) {
      padding: 10px 30px 10px 60px;
      margin-right: 30px;
    }

    &.active {
      padding: 10px 30px;
      z-index: 2;
      background-color: $blue;
      color: $white;
    }
  }

  &__title {
    font-size: var(--font-size-l);
    line-height: var(--font-line-l);
  }
}

/* description */

.description {
  background-color: $light-gray;
  padding: 0 calc((100% - var(--desktop-width)) / 2);
  display: grid;
  grid-template-columns: 1fr 530px;
  grid-template-rows: 1fr;

  .product__text {
    min-width: 469px;
  }

  &__text {
    width: 100%;
  }
}

/* dimensions */

.dimensions {
  background-color: $light-gray;
  padding: 0 calc((100% - var(--desktop-width)) / 2) 55px;

  &__text {
    max-width: 469px;
    margin-bottom: 25px;
  }

  &__main {
    width: 100%;
    max-height: 800px;
    border-radius: $border-radius;
    border: 2px solid $white-blue;
    object-fit: contain;
    margin-bottom: 5px;
  }

  &__table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    border: 1px solid $white-blue;
    border-radius: $border-radius;
    background-color: $white;

    thead {
      th {
        &:first-child {
          border-radius: 20px 0 0 0;
        }

        &:last-child {
          border-radius: 0 20px 0 0;
        }

        background-color: $white-blue;
      }
    }

    th,
    td {
      padding: 20px;
      border-right: 1px solid $white-blue;
      border-bottom: 1px solid $white-blue;
      text-align: center;

      &.pad {
        text-align: start;
        padding: 10px 30px;
      }

      &:last-child {
        border-right: none;
      }
    }

    tr:last-child {

      th,
      td {
        border-bottom: none;
      }
    }
  }
}

.profile {
  background-color: $light-gray;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 56px calc((100% - var(--desktop-width)) / 2);

  &__title {
    position: relative;
    z-index: 5;
    color: $black;
    font-size: var(--font-size-xl);
    line-height: var(--font-line-xl);
    font-weight: 500;
    margin: 0 0 20px 0;
  }

  &__sidebar {
    width: 375px;
    display: flex;
    justify-content: start;
    flex-direction: column;
    gap: 7px;
  }

  &__nav {
    height: fit-content;
    position: relative;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
  }

  &__name {
    background-color: $white;
    min-width: 375px;
    height: 100%;

    font-size: var(--font-size-l);
    line-height: var(--font-line-l);
    display: block;
    padding: 16px 33px;
    z-index: 5;
    border-bottom: $white-blue 1px solid;
    border-right: $white-blue 1px solid;
    border-left: $white-blue 1px solid;

    &:first-child {
      border-radius: $border-radius $border-radius 0 0;
    }

    &:last-child {
      border-radius: 0 0 $border-radius $border-radius;
    }

    &.active {
      border: none;
      background-color: $white-blue;
    }
  }

  &__tp {
    height: 410px;
    padding: 35px 73px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: $white;
    border-radius: $border-radius;
    border: 1px solid $white-blue;
  }

  &__tp-img {
    height: 150px;
    width: 150px;
    margin: 0 auto;
  }

  &__tp-title {
    font-size: var(--font-size-xl);
    line-height: var(--font-line-xl);
    font-weight: 500;
  }

  &__tp-btn {
    padding: 14px 33px;
    background-color: $white-blue;
    border-radius: $border-radius;
    color: $dark-blue;
    font-size: var(--font-size-l);
    line-height: var(--font-line-l);
    font-weight: 600;
  }

  &__container {
    display: flex;
    flex-direction: row;
    gap: 35px;
  }

  &__form-group {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 0;
  }

  &__form {
    width: 735px;

    &.password {
      .profile__label {
        min-width: 200px;
      }
    }
  }

  &__subtitle {
    margin: 0 0 24px 0;
    font-size: var(--font-size-xl);
    line-height: var(--font-line-xl);
    font-weight: 500;

    &.sub {
      margin: 24px 0;
    }
  }

  &__email {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
  }

  &__label {
    min-width: 90px;
    margin: 0 25px 0 0;
    padding: 13px 0;
    font-size: var(--font-size-l);
    line-height: var(--font-line-l);
  }

  &__input {
    width: 100%;
    height: 52px;
    padding: 16px 34px;
    background-color: $white;
    color: $dark-blue;
    border: 1px solid $white-blue;
    border-radius: $border-radius;
    margin-bottom: 7px;

    &::placeholder {
      color: $dark-blue;
    }
  }

  &__checkbox {
    position: absolute;
    z-index: 2;
    opacity: 0;

    &:checked+.profile__checkbox_lbl::before {
      border-color: $blue;
      background: url(./img/галочка.svg) center/cover no-repeat;
      background-color: $blue;
    }

    &_lbl {
      display: inline-flex;
      align-items: center;
      user-select: none;
      padding-top: 8px;

      &::before {
        content: '';
        width: 28px;
        height: 28px;
        background-color: $white;
        border: 2px solid $white-blue;
        border-radius: 5px;
      }
    }
  }

  &__checkbox-text {
    display: flex;
    gap: 13px;
    align-items: center;
    color: $dark-blue;
  }

  &__save {
    float: right;
    margin: 20px 0;
    background-color: $blue;
    padding: 14px 100px;
    color: $white;
    border-radius: $border-radius;
    font-size: var(--font-size-l);
    line-height: var(--font-line-l);
  }
}

.basket {
  &__container {
    background-color: $white;
    border-radius: $border-radius;
    border: 2px solid $white-blue;
    padding: 20px;
    height: fit-content;
  }

  &__titles {
    width: 100%;
    padding-left: 20px;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
  }

  &__title {
    display: block;
    text-transform: uppercase;
    font-weight: 600;
    font-size: var(--font-size-s);
    line-height: var(--font-line-s);
    color: $dark-blue;
    min-width: 200px;

    &:first-child {
      width: 100%;
    }

    &.sub {
      text-transform: none;
      min-width: fit-content;
      font-size: var(--font-size-xl);
      line-height: var(--font-line-xl);
      font-weight: 500;
    }

    &.date {
      font-weight: 400;
    }
  }

  &__buy {
    font-size: var(--font-size-xl);
    line-height: var(--font-line-xl);
    font-weight: 600;
    margin-left: 20px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 7px;

    &.inactive {
      display: none;
    }
  }

  &__item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__img {
    width: 100px;
    height: 100px;
    padding: 20px;
    border-radius: 15px;
    border: 2px solid $blue;
    object-fit: contain;
  }

  &__description {
    width: 100%;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  &__text {
    max-width: 460px;
  }


  &__price {
    min-width: 200px;
    font-size: var(--font-size-xl);
    line-height: var(--font-line-xl);
    font-weight: 600;
  }

  &__counter {
    min-width: 200px;
  }

  &__info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 460px;
  }

  &__like {
    width: 40px;
    height: 36px;
    margin-right: 16px;
    background: url(./img/basket-like.svg) center/contain no-repeat;
  }

  &__delete {
    width: 31px;
    height: 36px;
    margin-right: 16px;
    background: url(./img/trash.svg) center/contain no-repeat;
  }

  &__availability {
    color: $dark-blue;
    margin: 0;
  }

  &__id {
    color: $blue;
    margin: 0;
  }

  .profile__save {
    min-width: 320px;
    padding: 14px 80px;
  }
}

.orders {
  border: none;
  background-color: transparent;
  padding: 0;
  overflow: hidden;
}

.order {
  position: relative;
  border-radius: $border-radius;
  border: 2px solid $white-blue;
  background-color: $white;
  margin-bottom: 12px;

  .basket__list {
    padding: 0 20px;
  }

  .collapse {
    display: none !important;
  }

  .collapse.show {
    display: flex !important;
  }

  &__header {
    padding: 20px;
  }

  &__title {
    font-size: var(--font-size-l);
    line-height: var(--font-line-l);
    color: $dark-blue;
    margin: 0 55px 18px 0;
  }

  &__subtitle {
    margin: 3px 0 0 0;
  }

  &__status {
    margin: 0;
    padding: 8px 47px;
    color: #171717;
    border-radius: $border-radius;
    border: 2px solid #848484;
    background-color: #4a4a4a1c;
    font-size: var(--font-size-s);
    line-height: var(--font-line-s);
    margin-right: 55px;

    &.active {
      border: 2px solid #116022;
      background-color: #1160221c;
    }
  }

  &__price {
    margin: 0;
  }

  &__select {
    position: absolute;
    top: 30px;
    right: 20px;
    width: 15px;
    height: 10px;
    background: url(./img/arrow-bottom.svg) center/contain no-repeat;
  }

  &__footer {
    width: 100%;
    height: 63px;
    background-color: $white-blue;
    padding: 20px;
    border-radius: 0 0 $border-radius - 2 $border-radius - 2;
    display: flex;
    gap: 78px;
  }

  &__icon {
    margin-right: 13px;
    width: 25px;
    height: 25px;
    object-fit: contain;
  }

  &__link {
    color: $dark-blue;
    text-decoration: underline;
  }

}

.delivery {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-radius: $border-radius;
  border: 2px solid $white-blue;
  background-color: $white;
  padding: 25px 40px;
  margin-bottom: 12px;

  .profile__checkbox_lbl {
    margin-right: 40px;
  }

  &__text {
    display: flex;
    flex-direction: row;
    max-width: 450px;
    margin-right: 40px;
  }

  &__delete {
    width: 31px;
    height: 36px;
    margin-right: 16px;
    background: url(./img/trash.svg) center/contain no-repeat;
  }
}

.organization {
  .profile__subtitle {
    margin: 0;
  }

  &__form {
    .profile__input {
      padding: 0 50px;

      &::placeholder {
        color: $black;
      }
    }

    .profile__save {
      margin: 0 0 0 auto;
    }
  }

  .order {
    padding: 20px 40px 20px 20px;

    p {
      margin: 0;
    }
  }

  &__title {
    font-size: var(--font-size-l);
    line-height: var(--font-line-l);
    color: $dark-blue;
    margin-bottom: 18px;
  }

  &__link {
    margin-bottom: 20px;

    &:last-child {
      margin: 0;
    }

  }
}

@media screen and (max-width: 1620px) {
  body {
    --desktop-width: 1200px;

    --font-size-s: 12px;
    --font-line-s: 16px;

    --font-size-m: 18px;
    --font-line-m: 18px;

    --font-size-l: 16px;
    --font-line-l: 21px;

    --font-size-xl: 24px;
    --font-line-xl: 31px;
  }

  .header__link {
    font-size: 14px;
    line-height: 18px;
  }

  .swiper {
    height: fit-content;

    &__img {
      max-width: 60%;
    }
  }

  .catalog {
    &__name {
      min-width: 300px;
    }

    &__grid {
      grid-template-rows: repeat(3, 1fr);
    }

    &__content {
      padding: 25px 30px;
    }

    &__item {
      max-height: 460px;
    }

    &__img {
      max-width: 70%;
      height: 258px;
    }

    &__like {
      width: 25px;
      height: 22px;
    }

    &__basket {
      right: 30px;
      top: 303px;
    }

    &__text {
      height: calc(var(--font-size-l) * 2);
      overflow: hidden;
    }
  }

  .popular {
    &__container {
      max-width: var(--desktop-width);
      grid-template-rows: repeat(3, 300px);
      grid-template-columns: repeat(4, 300px);
    }
  }

  .projects {
    padding: 56px calc((100% - var(--desktop-width)) / 2 + 20px);

    &__card {
      padding: 10px;
      max-height: 410px;
      min-width: 300px;
    }

    &__img {
      max-width: 90%;
      max-height: 60%;
    }
  }

  .product {
    padding-top: 10px;
    padding-bottom: 30px;

    &__nav-item {
      width: 78px;
      height: 78px;
    }

    &__main-img {
      width: 340px;
      height: 340px;
    }

    &__sidebar-main {
      width: 230px;
      height: 235px;
    }

    &__desc-info {
      &:last-child {
        display: none;
      }
    }

    &__subtext {
      margin: 0 0 8px 0;
    }

    &__input {
      width: 58px;
    }
  }

  .dimensions {

    th,
    td {
      padding: 10px;
    }
  }
}

@media screen and (max-width: 1300px) {
  body {
    --desktop-width: 1000px;
  }

  .swiper {
    &__img {
      max-width: 50%;
    }
  }

  .catalog {
    &__name {
      min-width: 250px;
    }

    &__grid {
      grid-template-rows: repeat(3, 1fr);
    }

    &__content {
      padding: 20px !important;
      min-width: 100%;
    }

    &__item {
      max-height: 380px;
    }

    &__img {
      height: 200px;
    }

    &__basket {
      right: 20px;
      top: 242px;
    }
  }

  .popular {
    &__container {
      grid-template-rows: repeat(4, 300px);
      grid-template-columns: repeat(3, 1fr);
    }

    &__img {}
  }

  .footer {
    &__container {
      &:first-child {
        max-width: 300px;
      }
    }
  }

  .projects {
    &__card {
      padding: 15px;
      max-height: 410px;
      min-width: 300px;
    }

    &__img {
      max-width: 90%;
      max-height: 60%;
    }

    .catalog {
      &__item {
        min-width: 230px;

        &_small {
          height: fit-content;
        }
      }

      &__content {
        height: fit-content;
      }
    }
  }

  .product {
    &__nav-item {
      width: 60px;
      height: 60px;
    }

    &__main-img {
      width: 260px;
      height: 260px;
    }

    &__like {
      width: 25px;
      height: 28px;
    }

    &__description {
      padding: 12px;
    }
  }

  .description .product__text {
    min-width: 400px;
  }

  .dimensions {

    th,
    td {
      padding: 10px;

      &.pad {
        padding: 10px;
      }
    }
  }
}

@media screen and (max-width: 1100px) {
  body {
    --desktop-width: 770px;
  }

  .header {
    display: none;
  }

  .header-mobile {
    display: block;
  }

  .catalog {
    &__price {
      font-size: 16px;
    }

    &__name {
      min-width: 240px;
    }

    &__grid {
      grid-template-columns: repeat(2, calc(50% - 4px));
      margin: 0 auto 20px auto;
    }

    &__content {
      padding: 15px !important;
    }

    &__basket {
      top: 237px;
    }
  }

  .projects {
    .catalog {
      &__item {
        min-width: 200px;

        &_small {
          height: fit-content;
        }
      }
    }
  }

  .newsletter {
    width: 100%;

    &__container {
      flex-direction: column;
    }
  }

  .footer {
    height: fit-content;
    flex-direction: column;
    padding: 20px calc((100% - var(--desktop-width)) / 2);

    &__logo {
      max-width: 150px;
    }

    &__container {
      margin-bottom: 20px;

      &:first-child {
        padding: 0;
      }

      &:last-child {
        padding: 0;
      }
    }

    &__item {
      margin-bottom: 10px;
    }

    &__btn {
      margin-bottom: 20px;
    }

    &__cont {
      display: flex;
      flex-direction: row;
      align-items: end;
      gap: 24px;
    }
  }

  .product {
    &__container {
      flex-direction: column;
    }

    &__main {
      flex-direction: column;
    }

    &__imgs {
      flex-direction: column-reverse;
    }

    &__nav {
      flex-direction: row;
    }

    &__nav-item {
      width: 78px;
      height: 78px;
    }

    &__main-img {
      width: 400px;
      height: 400px;
    }
&__sidebar {
  gap: 7px;
}
    &__sidebar-main {
      width: 100%;
      height: 235px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &__counter {
      gap: 10px;
    }

    &__desc-info {
      &:last-child {
        display: block;
      }
    }

    &__input {
      width: 100px;
    }

    &__description-item {
      margin: 0 0 8px 0;
    }

    &__price {
      font-size: 24px;
    }
  }

  .infonav {
    flex-direction: column-reverse;
    align-items: start;
    margin-bottom: -1px;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .description {
    display: block;

    .product {
      &__main-img {
        display: none;
      }

      &__description {
        margin: 0;
        padding: 0;
        display: flex;
      }
&__subtitle {
  min-width: 50%;
}
      &__description-item {
        margin-bottom: 12px;
      }

      &__text {
        min-width: 50%;
      }
    }

    &__more {
      display: block;
      text-decoration: underline;
      color: $dark-blue;
      padding-bottom: 8px;
    }

    &.collapse {
      display: none;
    }
  }

  .dimensions {

    th,
    td {
      padding: 10px;
    }
  }
}

@media screen and (max-width: 800px) {
  body {
    --desktop-width: 90%;

    --font-size-s: 10px;
    --font-line-s: 13px;

    --font-size-m: 12px;
    --font-line-m: 16px;

    --font-size-l: 14px;
    --font-line-l: 18px;

    --font-size-xl: 16px;
    --font-line-xl: 21px;
  }

  .swiper-pagination-bullet {
    width: 10px !important;
    height: 10px !important;
    margin-right: 6px !important;
  }

  .swiper-horizontal>.swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizonta {
    bottom: 15px !important;
  }

  .swiper {
    max-width: 100%;

    &__img {
      max-width: 250px;
      margin-bottom: 10px;
    }

    &__caption {
      width: 100%;
      align-items: center;
    }

    &__title {
      text-align: center;
      margin-bottom: 10px;
    }

    &__container {
      height: 380px;
      flex-direction: column-reverse;
      align-items: center;
      justify-content: start;
      padding: 8% 40px 0 40px;
    }
  }

  .catalog {
    padding: 0 calc((100% - var(--desktop-width)) / 2) 26px calc((100% - var(--desktop-width)) / 2);
    flex-direction: column;

    &__all-btn {
      display: block;
    }

    &__title {
      display: none;
    }

    &__nav {
      flex-direction: row;
      width: 100%;
      overflow: hidden;
      position: relative;
    }

    &__overlay {
      z-index: 5;
      height: 100%;
      width: 5%;
      top: 0;
      left: 95%;
      position: absolute;
      background: linear-gradient(to right, transparent, $light-gray);
    }

    &__name {
      z-index: 2;
      min-width: fit-content;
      background-color: transparent;
      padding: 0 10px;
      border: none;
      opacity: .6;
      transition: all .2s ease-in-out;

      &:hover {
        opacity: 1;
        font-size: var(--font-size-xl);
      }
    }

    &__like {
      top: 14px;
      right: 14px;
    }

    &__basket {
      background-size: 15px;
      height: 24px;
      width: 36px;
      top: 175px;
      right: 10px;
    }

    &__img {
      height: 140px;
    }

    &__subtext {
      display: flex;
      flex-direction: column;
      align-items: start;
    }

    &__description {
      font-size: var(--font-size-m);
      margin-bottom: 5px;
    }

    &__avlb-good {
      font-size: var(--font-size-m);
    }
  }

  .popular {
    padding-bottom: 20px;

    &_catalog {
      padding: 15px calc((100% - var(--desktop-width)) / 2);

      .popular__container {
        grid-template-rows: repeat(6, 165px);
      }
    }

    &__container {
      max-width: 100%;
      grid-template-rows: repeat(3, 165px);
      grid-template-columns: repeat(2, calc(50% - 4px));
    }

    &__item {
      &.card {
        padding-top: 8px;
      }

      .popular__description {
        padding: 15px;
      }
    }

    &__img {
      min-height: 100px;
      max-height: 100px;
      max-width: 94px;
      margin-bottom: 0px;
    }

    &__subtitle {
      padding: 0 8px;
      margin-bottom: 8px;
    }

  }
  .product {
    &__nav-item {
      margin-bottom: 20px;
    }
    &__main-img {
      width: 250px;
      height: 250px;
    }
    &__description {
      display: none;
    }
  }
  .projects {
    padding: 25px calc((100% - var(--desktop-width)) / 2);

    &__card {
      padding: 10px;
      max-height: 410px;
      min-width: 300px;
    }

    &__img {
      max-width: 90%;
      max-height: 60%;
    }

    .catalog {
      &__item {
        min-width: 140px;
      }
    }
  }

  .newsletter {
    &__input {
      width: 90%;
    }
  }

  .infonav {
    &__title {
      display: none;
    }
  }

  .dimensions {

    th,
    td {
      padding: 10px;
    }
  }
}