@charset "UTF-8";
/* variables */
/* reset */
* {
  color: #000;
  font-size: 16px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a,
input,
button,
textarea,
select {
  text-decoration: none;
  color: #000;
  font: inherit;
  border: none;
  background: initial;
  cursor: pointer;
}

a:hover {
  text-decoration: none;
}

/* animation */
html {
  background: #f2f6ff;
}

body,
head {
  display: block;
  font-size: 52px;
  color: transparent;
  background: transparent;
}

head::before,
head::after,
body::before,
body::after {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 3em;
  height: 3em;
  content: "a";
  z-index: -1;
  animation: 25s -2s move infinite ease-in-out alternate;
}

body::before {
  text-shadow: 3.318618714em 0.8384974472em 11.5181165669px hsl(220, 78%, 29%), 2.1835457017em -0.4620182896em 11.3535447163px hsl(220, 78%, 29%), 1.0580061909em 1.1135295214em 11.4765796009px hsl(220, 78%, 29%), 0.2545299121em 2.3359671697em 10.0855592631px hsl(220, 78%, 29%), 3.2859913357em -0.321959995em 10.7096509077px hsl(220, 78%, 29%), 1.8134964809em 3.0664320277em 11.8675684679px hsl(220, 78%, 29%), 0.4734145198em 2.7967476914em 11.9847228701px hsl(220, 78%, 29%), 0.30657488em 3.1257415518em 11.6036832545px hsl(220, 78%, 29%), -0.2982000529em 3.407237641em 10.8411017929px hsl(220, 78%, 29%), 3.3194901455em 0.8700007358em 11.8498101971px hsl(220, 78%, 29%), 0.5862960795em 1.4738935662em 11.3092800642px hsl(220, 78%, 29%);
  animation-duration: 28s;
  animation-delay: -15s;
}

body::after {
  text-shadow: 0.354565476em 3.307496em 10.9906219801px hsl(220, 78%, 29%), 1.7321429322em -0.1693325541em 11.2551086502px hsl(220, 78%, 29%), 1.1247414694em 0.1884836765em 10.7778883357px hsl(220, 78%, 29%), -0.0433219322em 2.2558921851em 11.4465210629px hsl(220, 78%, 29%), 3.3706059437em 0.7242851272em 11.6701019818px hsl(220, 78%, 29%), 2.2603245586em 0.4560786939em 11.2449612792px hsl(220, 78%, 29%), 1.5279756256em 1.5335000096em 10.5106983806px hsl(220, 78%, 29%), 3.0800934552em -0.4323570129em 10.2353281969px hsl(220, 78%, 29%), -0.008606901em 0.496049998em 10.2685942675px hsl(220, 78%, 29%), 3.2465753296em 3.3831611669em 10.7053063633px hsl(220, 78%, 29%), 2.7301504248em -0.4742996295em 10.5054396537px hsl(220, 78%, 29%);
  animation-duration: 25s;
  animation-delay: -2s;
}

head::before {
  text-shadow: 2.5797177472em 0.5510322842em 11.6151691162px hsl(220, 78%, 29%), 1.1655463714em 0.4942968404em 10.9148452581px hsl(220, 78%, 29%), 3.028867564em 0.2013171765em 10.4208929473px hsl(220, 78%, 29%), 3.3125671991em 1.6373608478em 10.5101765271px hsl(220, 78%, 29%), 2.8126378609em 1.4108524006em 10.0394865677px hsl(220, 78%, 29%), 3.0187085242em 3.1612696916em 11.5266885236px hsl(220, 78%, 29%), 1.4620439199em 1.6800304455em 10.8495148669px hsl(220, 78%, 29%), 1.7358486208em 0.9741972647em 11.0781002871px hsl(220, 78%, 29%), 2.8955083172em 1.4232512335em 10.7820553243px hsl(220, 78%, 29%), 2.0448969562em 0.0303196445em 11.840855219px hsl(220, 78%, 29%), 3.2212377274em -0.0026654706em 10.5225896119px hsl(220, 78%, 29%);
  animation-duration: 32s;
  animation-delay: -32s;
}

head::after {
  text-shadow: -0.1946271054em 0.2844529418em 11.0337854977px hsl(220, 78%, 29%), 1.8888073834em 1.6889016938em 10.9441464955px hsl(220, 78%, 29%), 0.7995618133em 3.2128318668em 10.6260466413px hsl(220, 78%, 29%), 3.1127149361em -0.2924524651em 11.4320965681px hsl(220, 78%, 29%), 0.392939335em 0.8304738315em 10.7981057262px hsl(220, 78%, 29%), 0.1145263097em 0.8119731295em 11.9073685413px hsl(220, 78%, 29%), 0.5770215453em 0.2836077268em 11.2607187848px hsl(220, 78%, 29%), 2.1060496377em 0.2296200565em 10.930821895px hsl(220, 78%, 29%), 2.7491577089em 0.9057616612em 10.7389699897px hsl(220, 78%, 29%), 3.4289665149em 3.2253009296em 11.5971402763px hsl(220, 78%, 29%), 3.1134899953em 0.7938382512em 11.2333464998px hsl(220, 78%, 29%);
  animation-duration: 20s;
  animation-delay: -19s;
}

@keyframes move {
  from {
    transform: rotate(0deg) scale(12) translateX(-20px);
  }
  to {
    transform: rotate(180deg) scale(18) translateX(20px);
  }
}
.card {
  width: 300px;
  height: 300px;
  border-radius: 20px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
}

.root {
  padding: 0 calc((100% - 1520px) / 2);
}

/* header */
.header {
  width: 100%;
}
.header__first {
  height: 44px;
  max-width: 1520px;
  margin: 0 auto;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  color: #103784;
}
.header__link {
  text-decoration: none;
  margin-right: 22px;
  font-size: 16px;
  line-height: 21px;
}
.header__btn {
  font-size: 18px;
  line-height: 18px;
  background-color: #5078B9;
  color: #fff;
  text-decoration: underline;
  height: 100%;
  width: 190px;
  border-radius: 0 0 20px 20px;
}
.header__container {
  background-color: #F9F9F9;
  padding: 30px calc((100% - 1520px) / 2);
}
.header__main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 30px 0;
  background-color: #F9F9F9;
}
.header__input {
  width: 55%;
  font-size: 16px;
  line-height: 21px;
  border: #103784 solid 2px;
  padding: 13px 70px 13px 23px;
  border-radius: 20px;
  background: url(./img/Лупа.svg) calc(100% - 23px)/17px no-repeat;
  background-color: #fff;
}
.header__icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.header__icon {
  margin-right: 30px;
}
.header__icon:last-child {
  margin: 0;
}
.header__nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  max-width: 1520px;
  padding: 12px 63px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 20px;
  border: 2px solid #E4EAF7;
  box-shadow: -7px -7px 30px 0px rgba(16, 55, 132, 0.0588235294);
}
.header__nav-link {
  color: #103784;
  font-size: 16px;
  line-height: 21px;
  text-transform: uppercase;
  background-color: #fff;
  text-decoration: none;
  font-weight: 600;
}

/* carousel */
.carousel-container {
  height: 608px;
  padding-bottom: 57px;
  width: 100%;
  background-color: #F9F9F9;
}

.carousel-indicators {
  width: 115px;
  margin: 0 auto 34px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.carousel-indicators li {
  border-radius: 50%;
  width: 14px;
  height: 14px;
  background: none;
  background-color: #fff;
}
.carousel-indicators li.active {
  background-color: #5078B9;
}

.carousel {
  position: relative;
  max-width: 1520px;
  height: 551px;
  background-color: #ECECEC;
  margin: 0 auto;
  padding: 0 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}
.carousel__img {
  float: right;
  width: 720px;
}
.carousel__caption {
  z-index: 100;
  position: absolute;
  left: 0;
  top: 40px;
  display: flex;
  flex-direction: column;
  align-items: start;
}
.carousel__subtitle {
  color: #5078B9;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 25px;
  margin-bottom: 20px;
}
.carousel__title {
  text-transform: uppercase;
  font-size: 28px;
  line-height: 35px;
  max-width: 490px;
  margin-bottom: 85px;
}
.carousel__btn {
  font-size: 20px;
  line-height: 25px;
  padding: 14px 33px;
  border-radius: 20px;
  color: #fff;
  background-color: #103784;
  transition: opacity 0.2s ease-in-out;
}
.carousel__btn:hover {
  color: #fff;
  opacity: 0.8;
}
.carousel__arrows {
  width: 100px;
}

/* popular */
.popular {
  max-width: 1520px;
  margin: 0 auto 56px auto;
  background-color: transparent;
}
.popular__container {
  display: grid;
  grid-template-rows: repeat(2, 300px);
  grid-template-columns: repeat(5, 300px);
  gap: 5px;
}
.popular__title {
  color: #000;
  font-size: 28px;
  line-height: 35px;
  font-weight: 500;
  margin: 44px 0 20px 0;
}
.popular__item {
  position: relative;
  height: 100%;
}
.popular__item_small {
  padding-top: 80px;
}
.popular__img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-height: 190px;
  max-width: 200px;
}
.popular__subtitle {
  position: absolute;
  width: 100%;
  padding: 0 20px;
  margin-bottom: 35px;
  left: 0;
  bottom: 0;
  text-align: center;
  color: #000;
  font-size: 18px;
  line-height: 18px;
}
.popular__description {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  padding: 40px 30px;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #5078B9;
  opacity: 0;
  transition: all 0.2s ease-in-out;
}
.popular__description:hover {
  opacity: 0.9;
  display: block;
}
.popular__description-text {
  line-height: 16px;
  color: #fff;
}
.popular__description-text:last-child {
  text-decoration: underline;
}
.popular__description-text:last-child:hover {
  color: #fff;
}
.popular_catalog {
  min-width: 100%;
  max-width: 100%;
  padding: 50px calc((100% - 1520px) / 2);
  margin: 0;
  background-color: #F9F9F9;
}
.popular_catalog .popular__item:hover .popular__subtitle {
  display: none;
}
.popular_catalog .popular__item:hover .popular__description {
  display: flex;
}
.popular_catalog .popular__title {
  margin-top: 0;
}
.popular_catalog .popular__container {
  grid-template-rows: repeat(3, 300px);
}

/* overlay for catalog hover */
#overlay-catalog {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
}

/* catalog */
.catalog {
  background-color: #F9F9F9;
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 7px;
  padding: 56px calc((100% - 1520px) / 2);
}
.catalog.active {
  background-color: transparent;
}
.catalog__title {
  position: relative;
  z-index: 5;
  color: #000;
  font-size: 28px;
  line-height: 35px;
  font-weight: 500;
  margin: 0 0 20px 0;
}
.catalog__sidebar {
  width: 375px;
}
.catalog__nav {
  height: -moz-fit-content;
  height: fit-content;
  position: relative;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.catalog__name {
  background-color: #fff;
  min-width: 375px;
  height: 100%;
  font-size: 20px;
  line-height: 25px;
  display: block;
  padding: 16px 33px;
  z-index: 5;
  border-bottom: #E4EAF7 1px solid;
  border-right: #E4EAF7 1px solid;
  border-left: #E4EAF7 1px solid;
}
.catalog__name:first-child {
  border-radius: 20px 20px 0 0;
}
.catalog__name:last-child {
  border-radius: 0 0 20px 20px;
}
.catalog__name:hover {
  border: none;
  background-color: transparent;
}
.catalog__container {
  z-index: 2;
  width: 100%;
}
.catalog__grid {
  position: relative;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(auto, 587px);
  gap: 7px;
  margin-bottom: 20px;
}
.catalog__grid.active {
  padding: 20px;
  grid-template-rows: repeat(3, 283px);
}
.catalog__grid.active .catalog__buy {
  display: none;
}
.catalog__grid.active .catalog__subtext {
  display: none;
}
.catalog__grid.active .catalog__like {
  display: none;
}
.catalog__grid.active .catalog__basket {
  display: none;
}
.catalog__grid.active .catalog__img {
  -o-object-fit: contain;
     object-fit: contain;
}
.catalog__item {
  z-index: 5;
  position: relative;
  list-style: none;
}
.catalog__item_small {
  width: 300px;
  height: 400px;
}
.catalog__item_small .catalog__basket {
  top: 218px;
}
.catalog__item_small .catalog__content {
  padding: 30px 30px 20px 30px;
}
.catalog__content {
  width: 100%;
  height: 100%;
  background-color: #fff;
  border: #E4EAF7 2px solid;
  border-radius: 20px;
  padding: 40px 35px;
  gap: 20px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
}
.catalog__img {
  display: block;
  width: 220px;
  max-height: 340px;
  margin: 0 auto;
  -o-object-fit: contain;
     object-fit: contain;
  overflow: hidden;
}
.catalog__buy {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 15px;
}
.catalog__price {
  font-size: 35px;
  line-height: 35px;
  font-weight: 700;
}
.catalog__basket {
  position: absolute;
  z-index: 5;
  right: 25px;
  top: 395px;
  height: 32px;
  width: 50px;
  border-radius: 25px;
  background: url(./img/basket-light.svg) center/22px 19px no-repeat;
  background-color: #5078B9;
}
.catalog__text {
  margin-bottom: 15px;
}
.catalog__subtext {
  display: block;
  width: 100%;
  text-align: end;
}
.catalog__description {
  text-decoration: underline;
  float: left;
}
.catalog__description:hover {
  opacity: 0.8;
}
.catalog__avlb-good {
  color: #5078B9;
}
.catalog__like {
  display: block;
  width: 30px;
  height: 33px;
  position: absolute;
  top: 20px;
  right: 25px;
  z-index: 5;
  cursor: pointer;
  background: url(./img/like-blue.svg) center/contain no-repeat;
}
.catalog__like.active {
  background-image: url(./img/like-blue-active.svg);
}

/* pagination */
.pagination {
  margin: 0;
}
.pagination__ellipsis {
  display: flex;
  flex-direction: row;
  color: #5078B9;
  width: 300px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.pagination .page-item {
  height: 44px;
}
.pagination .page-item .page-link {
  width: 44px;
  height: 44px;
  padding: 10px 16px;
  border: none;
  background-color: transparent;
  color: #5078B9;
  text-align: center;
}
.pagination .page-item .page-link.active {
  border-radius: 20px;
  color: #fff;
  background-color: #5078B9;
}
.pagination .page-item .page-link.next {
  border-radius: 20px;
  margin-left: 15px;
  width: 97px;
  background-color: #E4EAF7;
}

/* projects */
.projects {
  position: relative;
  background-color: #E4EAF7;
  padding: 56px calc((100% - 1520px) / 2);
  border-radius: 0 0 20px 20px;
}
.projects.sub {
  border-radius: 0;
}
.projects.sub .catalog__avlb-good {
  float: left;
}
.projects__container {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 7px;
}
.projects__title {
  color: #000;
  font-size: 28px;
  line-height: 35px;
  font-weight: 500;
  margin-bottom: 24px;
}
.projects__card {
  min-width: 335px;
  height: 455px;
  padding: 20px 35px;
}
.projects__img {
  max-width: 300px;
  min-height: 300px;
  max-height: 300px;
  margin-bottom: 10px;
}
.projects__overlay {
  top: 15%;
  right: 60px;
  height: 80%;
  position: absolute;
}

/* newsletter */
.newsletter {
  margin-top: -27px;
  padding-top: 27px;
  width: 100%;
  height: 135px;
  background-color: #5078B9;
  border-radius: 0 0 20px 20px;
}
.newsletter__container {
  width: 915px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.newsletter__text {
  width: 440px;
  margin-right: 15px;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
}
.newsletter__title {
  color: #fff;
  font-size: 28px;
  line-height: 35px;
  font-weight: 500;
  margin: 0;
}
.newsletter__subtitle {
  color: #fff;
  font-size: 20px;
  line-height: 25px;
  font-weight: 500;
}
.newsletter__logo {
  height: 73px;
  width: 73px;
  margin-right: 5px;
}
.newsletter__input {
  height: 50px;
  width: 307px;
  font-size: 16px;
  line-height: 21px;
  padding: 13px 23px;
  border-radius: 20px 0 0 20px;
  background-color: #fff;
}
.newsletter__btn {
  height: 50px;
  width: 68px;
  border-radius: 0 20px 20px 0;
  background-color: #103784;
}

/* footer */
.footer {
  width: 100%;
  height: 345px;
  padding: 56px calc((100% - 1520px) / 2);
  background-color: #F9F9F9;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.footer.blue {
  background-color: #E4EAF7;
}
.footer__container {
  list-style: none;
  position: relative;
  max-width: 425px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
}
.footer__container:first-child {
  padding-bottom: 50px;
}
.footer__container:last-child {
  padding-bottom: 50px;
  max-width: 230px;
}
.footer__item {
  font-size: 16px;
  line-height: 16px;
  display: block;
  max-width: 282px;
  color: #000;
  margin: 0;
}
.footer__item_big {
  font-weight: 700;
}
.footer__item:hover {
  text-decoration: none;
  color: #000;
}
.footer__logo {
  width: 263px;
  height: 67px;
}
.footer__link {
  color: #5078B9;
}
.footer__description {
  font-size: 16px;
  line-height: 30px;
}
.footer__btn {
  font-size: 20px;
  line-height: 25px;
  font-weight: 600;
  color: #fff;
  padding: 14px 33px;
  border-radius: 20px;
  background-color: #103784;
}

/* breadcrumb */
.breadcrumb {
  background-color: #F9F9F9;
  padding: 0 calc((100% - 1520px) / 2) 20px calc((100% - 1520px) / 2);
  margin: 0;
}

.breadcrumb-item.active::before {
  content: "" !important;
  width: 9px;
  height: 15px;
  padding: 0 30px;
  background: url(./img/arr-right.svg) center/contain no-repeat;
}

/* product */
.product {
  background-color: #F9F9F9;
  padding: 56px calc((100% - 1520px) / 2);
  /* product sidebar */
}
.product__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.product__title {
  color: #000;
  font-size: 28px;
  line-height: 35px;
  font-weight: 500;
  margin-bottom: 30px;
}
.product__main {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.product__imgs {
  display: flex;
  flex-direction: row;
  gap: 7px;
}
.product__main-img {
  position: relative;
  width: 530px;
  height: 530px;
  background-color: #fff;
  border: 2px solid #E4EAF7;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.product__like {
  display: block;
  width: 40px;
  height: 44px;
  position: absolute;
  top: 15px;
  right: 20px;
  background: url(./img/like-blue.svg) center/contain no-repeat;
  cursor: pointer;
}
.product__like.active {
  background-image: url(./img/like-blue-active.svg);
}
.product__nav {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 7px;
}
.product__nav-item {
  width: 100px;
  height: 100px;
  padding: 10px;
  background-color: #fff;
  border: 2px solid #E4EAF7;
  border-radius: 20px;
  cursor: pointer;
}
.product__nav-item.active {
  border: 2px solid #5078B9;
}
.product__description {
  list-style: none;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 20px 30px 0 35px;
}
.product__art {
  color: #5078B9;
  margin-bottom: 20px;
  font-size: 20px;
  line-height: 25px;
}
.product__description-item {
  padding: 0;
  margin: 0 0 24px 0;
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: space-between;
}
.product__subtitle {
  min-width: -moz-fit-content;
  min-width: fit-content;
  width: -moz-max-content;
  width: max-content;
  margin: 0;
  padding: 0;
  color: #6C6C6C;
  font-size: 20px;
  line-height: 25px;
}
.product__underline {
  width: 100%;
  height: 16px;
  margin: 2px;
  border-bottom: 1px solid #E4EAF7;
}
.product__text {
  min-width: 148px;
  max-width: 148px;
  margin: 0;
  padding: 0;
  font-size: 20px;
  line-height: 25px;
}
.product__link {
  color: #103784;
  text-decoration: underline;
  font-size: 20px;
  line-height: 25px;
}
.product__sidebar {
  max-height: 430px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.product__sidebar-main {
  height: 300px;
  width: 270px;
  padding: 20px;
  border: 2px solid #E4EAF7;
  border-radius: 20px;
  box-shadow: -7px -7px 30px 0px rgba(16, 55, 132, 0.0588235294);
}
.product__price {
  font-size: 28px;
  line-height: 35px;
  color: #D1000F;
  margin: 0;
}
.product__price.sub {
  font-size: 20px;
  line-height: 25px;
  color: #000;
  text-decoration: line-through;
}
.product__subtext {
  margin: 0 0 16px 0;
}
.product__counter {
  height: 35px;
  margin-bottom: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.product__counter p {
  margin: 0;
}
.product__counter-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  line-height: 35px;
  border: 2px solid #E4EAF7;
  padding: 0 14px;
  border-radius: 20px 0 0 20px;
}
.product__counter-btn.right {
  border-radius: 0 20px 20px 0;
}
.product__input {
  width: 68px;
  height: 39px;
  margin: 0;
  font-size: 20px;
  text-align: center;
  border-top: 2px solid #E4EAF7;
  border-bottom: 2px solid #E4EAF7;
}
.product__sidebar-btn {
  min-width: 100%;
  padding: 14px 0;
  text-align: center;
  font-size: 20px;
  line-height: 25px;
  font-weight: 600;
  border-radius: 20px;
  border: 2px solid #E4EAF7;
  box-shadow: -7px -7px 30px 0px rgba(16, 55, 132, 0.0588235294);
}
.product__sidebar-btn:hover {
  color: #fff;
  text-decoration: none;
  background-color: #5078B9;
  border: none;
}
.product__sidebar-btn.active {
  color: #fff;
  background-color: #5078B9;
  border: none;
  padding: 20px 15px;
  margin-bottom: 15px;
}
.product__desc-info {
  text-align: center;
  line-height: 25px;
}

/* nav for description product */
.infonav {
  background-color: #F9F9F9;
  padding: 60px calc((100% - 1520px) / 2) 30px calc((100% - 1520px) / 2);
  display: flex;
  flex-direction: row;
}
.infonav__item {
  display: flex;
  align-items: center;
  height: 43px;
  background-color: #fff;
  color: #5078B9;
  text-transform: uppercase;
  font-weight: 700;
  border: 2px solid #5078B9;
  border-radius: 20px;
  padding: 10px 30px;
  box-shadow: -7px -7px 30px 0px rgba(16, 55, 132, 0.0588235294);
}
.infonav__item:first-child {
  padding: 10px 70px 10px 30px;
  margin-right: -45px;
}
.infonav__item:nth-child(2) {
  padding: 10px 30px 10px 60px;
  margin-right: 30px;
}
.infonav__item.active {
  padding: 10px 30px;
  z-index: 2;
  background-color: #5078B9;
  color: #fff;
}
.infonav__title {
  font-size: 28px;
  line-height: 35px;
}

/* description */
.description {
  background-color: #F9F9F9;
  padding: 0 calc((100% - 1520px) / 2);
  display: grid;
  grid-template-columns: 1fr 530px;
  grid-template-rows: 1fr;
}
.description .product__text {
  min-width: 469px;
}
.description__text {
  width: 100%;
}

/* dimensions */
.dimensions {
  background-color: #F9F9F9;
  padding: 0 calc((100% - 1520px) / 2) 55px;
}
.dimensions__text {
  max-width: 469px;
  margin-bottom: 25px;
}
.dimensions__main {
  width: 100%;
  max-height: 800px;
  border-radius: 20px;
  border: 2px solid #E4EAF7;
  -o-object-fit: contain;
     object-fit: contain;
  margin-bottom: 5px;
}
.dimensions__table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  border: 1px solid #E4EAF7;
  border-radius: 20px;
  background-color: #fff;
}
.dimensions__table thead th {
  background-color: #E4EAF7;
}
.dimensions__table thead th:first-child {
  border-radius: 20px 0 0 0;
}
.dimensions__table thead th:last-child {
  border-radius: 0 20px 0 0;
}
.dimensions__table th,
.dimensions__table td {
  padding: 10px;
  border-right: 1px solid #E4EAF7;
  border-bottom: 1px solid #E4EAF7;
  text-align: center;
}
.dimensions__table th.pad,
.dimensions__table td.pad {
  text-align: start;
  padding: 10px 30px;
}
.dimensions__table th:last-child,
.dimensions__table td:last-child {
  border-right: none;
}
.dimensions__table tr:last-child th,
.dimensions__table tr:last-child td {
  border-bottom: none;
}

.profile {
  background-color: #F9F9F9;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 56px calc((100% - 1520px) / 2);
}
.profile__title {
  position: relative;
  z-index: 5;
  color: #000;
  font-size: 28px;
  line-height: 35px;
  font-weight: 500;
  margin: 0 0 20px 0;
}
.profile__sidebar {
  width: 375px;
  display: flex;
  justify-content: start;
  flex-direction: column;
  gap: 7px;
}
.profile__nav {
  height: -moz-fit-content;
  height: fit-content;
  position: relative;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
}
.profile__name {
  background-color: #fff;
  min-width: 375px;
  height: 100%;
  font-size: 20px;
  line-height: 25px;
  display: block;
  padding: 16px 33px;
  z-index: 5;
  border-bottom: #E4EAF7 1px solid;
  border-right: #E4EAF7 1px solid;
  border-left: #E4EAF7 1px solid;
}
.profile__name:first-child {
  border-radius: 20px 20px 0 0;
}
.profile__name:last-child {
  border-radius: 0 0 20px 20px;
}
.profile__name.active {
  border: none;
  background-color: #E4EAF7;
}
.profile__tp {
  height: 410px;
  padding: 35px 73px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  border-radius: 20px;
  border: 1px solid #E4EAF7;
}
.profile__tp-img {
  height: 150px;
  width: 150px;
  margin: 0 auto;
}
.profile__tp-title {
  font-size: 28px;
  line-height: 35px;
  font-weight: 500;
}
.profile__tp-btn {
  padding: 14px 33px;
  background-color: #E4EAF7;
  border-radius: 20px;
  color: #103784;
  font-size: 20px;
  line-height: 25px;
  font-weight: 600;
}
.profile__container {
  display: flex;
  flex-direction: row;
  gap: 35px;
}
.profile__form-group {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 0;
}
.profile__form {
  width: 735px;
}
.profile__form.password .profile__label {
  min-width: 200px;
}
.profile__subtitle {
  margin: 0 0 24px 0;
  font-size: 28px;
  line-height: 35px;
  font-weight: 500;
}
.profile__subtitle.sub {
  margin: 24px 0;
}
.profile__email {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
}
.profile__label {
  min-width: 90px;
  margin: 0 25px 0 0;
  padding: 13px 0;
  font-size: 20px;
  line-height: 25px;
}
.profile__input {
  width: 100%;
  height: 52px;
  padding: 16px 34px;
  background-color: #fff;
  color: #103784;
  border: 1px solid #E4EAF7;
  border-radius: 20px;
  margin-bottom: 7px;
}
.profile__input::-moz-placeholder {
  color: #103784;
}
.profile__input::placeholder {
  color: #103784;
}
.profile__checkbox {
  position: absolute;
  z-index: 2;
  opacity: 0;
}
.profile__checkbox:checked + .profile__checkbox_lbl::before {
  border-color: #5078B9;
  background: url(./img/галочка.svg) center/cover no-repeat;
  background-color: #5078B9;
}
.profile__checkbox_lbl {
  display: inline-flex;
  align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  padding-top: 8px;
}
.profile__checkbox_lbl::before {
  content: "";
  width: 28px;
  height: 28px;
  background-color: #fff;
  border: 2px solid #E4EAF7;
  border-radius: 5px;
}
.profile__checkbox-text {
  display: flex;
  gap: 13px;
  align-items: center;
  color: #103784;
}
.profile__save {
  float: right;
  margin: 20px 0;
  background-color: #5078B9;
  padding: 14px 100px;
  color: #fff;
  border-radius: 20px;
  font-size: 20px;
  line-height: 25px;
}