@charset "UTF-8";
/* variables */
/* reset */
* {
  color: #000;
  font-size: var(--font-size-s);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a,
input,
button,
textarea,
select {
  text-decoration: none;
  color: #000;
  font: inherit;
  border: none;
  background: initial;
  cursor: pointer;
  outline: 0 !important;
}

a:hover {
  text-decoration: none;
  color: #000;
}

/* animation */
html {
  background: #f2f6ff;
}

body,
head {
  display: block;
  font-size: 120px;
  color: transparent;
  background: transparent;
  --desktop-width: 1520px;
  --font-size-s: 16px;
  --font-line-s: 21px;
  --font-size-m: 18px;
  --font-line-m: 18px;
  --font-size-l: 20px;
  --font-line-l: 25px;
  --font-size-xl: 30px;
  --font-line-xl: 40px;
}

head::before,
head::after,
body::before,
body::after {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 3em;
  height: 3em;
  content: "•";
  z-index: -1;
  animation: 30s -2s move infinite ease-in-out alternate;
}

body::before {
  text-shadow: 0.9871678056em 3.3177381496em 10.3736141964px rgba(16, 55, 132, 0.75), 2.2921454482em 0.904335388em 10.7049078209px rgba(16, 55, 132, 0.75), 1.9777081558em 0.0738176705em 11.4482820065px rgba(16, 55, 132, 0.75), 1.0219955383em 0.4147967743em 11.4097459163px rgba(16, 55, 132, 0.75), 3.0058624421em 2.227394094em 11.1080455214px rgba(16, 55, 132, 0.75), 0.1079702483em 0.4634306851em 11.0909141459px rgba(16, 55, 132, 0.75), 0.1207650037em 0.8912958895em 10.9078683951px rgba(16, 55, 132, 0.75), 1.8646200791em 0.1802095341em 11.4706985959px rgba(16, 55, 132, 0.75), 1.0927743656em 1.8680292634em 10.1222136001px rgba(16, 55, 132, 0.75), 0.3872078077em -0.1852807341em 10.8124731286px rgba(16, 55, 132, 0.75), 2.5790070125em 0.7919621176em 11.0997979896px rgba(16, 55, 132, 0.75);
  animation-duration: 38s;
  animation-delay: -15s;
}

body::after {
  text-shadow: -0.0286448377em -0.3352775009em 11.1018370629px rgba(16, 55, 132, 0.75), 2.7265030332em 2.9913223312em 10.8826447445px rgba(16, 55, 132, 0.75), 1.9632745724em 0.5581468025em 10.5422681826px rgba(16, 55, 132, 0.75), 0.8882033192em 0.6151716019em 10.4981332126px rgba(16, 55, 132, 0.75), 0.6216878804em 0.5306685445em 10.5336788319px rgba(16, 55, 132, 0.75), 2.5980047062em 3.2374322065em 10.1333215762px rgba(16, 55, 132, 0.75), 1.8366434195em 1.0703706147em 10.517433095px rgba(16, 55, 132, 0.75), 2.2952216051em 2.5878530541em 11.412295047px rgba(16, 55, 132, 0.75), 1.5919189243em 2.8575095679em 11.6123310601px rgba(16, 55, 132, 0.75), 1.8139183756em 0.2469641971em 10.2250103122px rgba(16, 55, 132, 0.75), 0.1596589558em 0.5449812191em 11.7674208981px rgba(16, 55, 132, 0.75);
  animation-duration: 32s;
  animation-delay: -2s;
}

head::before {
  text-shadow: 0.5973354398em 3.4446571155em 10.6287314689px rgba(16, 55, 132, 0.75), 1.6208601812em 1.8508335384em 10.7839773796px rgba(16, 55, 132, 0.75), 0.6547936122em -0.3377370092em 10.0199599872px rgba(16, 55, 132, 0.75), 0.5950180571em 0.5069503876em 10.4890811974px rgba(16, 55, 132, 0.75), -0.2298457927em 1.7943757717em 10.8279819287px rgba(16, 55, 132, 0.75), -0.2048831399em 3.2178800533em 10.0887498747px rgba(16, 55, 132, 0.75), 1.4750292763em 0.3168436317em 10.6941523729px rgba(16, 55, 132, 0.75), 0.2715083919em 2.2851805016em 10.5760323504px rgba(16, 55, 132, 0.75), -0.3689995043em 3.0868671617em 11.2016523966px rgba(16, 55, 132, 0.75), 0.3636247125em 0.3687952032em 11.5947887422px rgba(16, 55, 132, 0.75), 1.3389785551em 1.681146238em 11.3846421979px rgba(16, 55, 132, 0.75);
  animation-duration: 34s;
  animation-delay: -32s;
}

head::after {
  text-shadow: 0.5565315788em 1.4859380167em 11.444461469px rgba(16, 55, 132, 0.75), 0.9744508744em 0.265157145em 11.0212518984px rgba(16, 55, 132, 0.75), 1.6171918018em 3.191053773em 10.6575482484px rgba(16, 55, 132, 0.75), 2.1565466264em 2.3504210864em 10.3253415132px rgba(16, 55, 132, 0.75), 1.9022760512em 2.4574432622em 10.028156794px rgba(16, 55, 132, 0.75), -0.1056811067em 2.7588819456em 10.8889099885px rgba(16, 55, 132, 0.75), 1.0574010666em 3.1815066225em 10.0294801108px rgba(16, 55, 132, 0.75), -0.3062258284em 1.6451475749em 11.2158479975px rgba(16, 55, 132, 0.75), 3.2102551453em 2.1233171545em 11.5419193653px rgba(16, 55, 132, 0.75), 2.937037813em 0.2308865495em 11.0595472927px rgba(16, 55, 132, 0.75), 0.7692723132em 2.9651627753em 11.7587104867px rgba(16, 55, 132, 0.75);
  animation-duration: 30s;
  animation-delay: -19s;
}

@keyframes move {
  from {
    transform: rotate(0deg) scale(12) translateX(-20px);
  }
  to {
    transform: rotate(180deg) scale(18) translateX(20px);
  }
}
.card {
  width: 300px;
  height: 300px;
  border-radius: 20px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  padding-top: 30px;
}

.root {
  padding: 0 calc((100% - var(--desktop-width)) / 2);
}

/* header */
.header {
  width: 100%;
}
.header__first {
  height: 44px;
  max-width: var(--desktop-width);
  margin: 0 auto;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  color: #103784;
}
.header__link {
  text-decoration: none;
  margin-right: 22px;
  font-size: var(--font-size-s);
  line-height: var(--font-line-s);
}
.header__btn {
  font-size: var(--font-size-m);
  line-height: var(--font-line-m);
  background-color: #5078B9;
  color: #fff;
  text-decoration: underline;
  height: 100%;
  width: 190px;
  border-radius: 0 0 20px 20px;
}
.header__container {
  background-color: #F9F9F9;
  padding: 30px calc((100% - var(--desktop-width)) / 2);
}
.header__main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 30px 0;
  background-color: #F9F9F9;
}
.header__input {
  width: 55%;
  font-size: var(--font-size-s);
  line-height: var(--font-line-s);
  border: #103784 solid 2px;
  padding: 13px 70px 13px 23px;
  border-radius: 20px;
  background: url(./img/Лупа.svg) calc(100% - 23px)/17px no-repeat;
  background-color: #fff;
}
.header__icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.header__icon {
  margin-right: 30px;
}
.header__icon:last-child {
  margin: 0;
}
.header__nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  max-width: var(--desktop-width);
  padding: 12px 63px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 20px;
  border: 2px solid #E4EAF7;
  box-shadow: -7px -7px 30px 0px rgba(16, 55, 132, 0.0588235294);
}
.header__nav-link {
  color: #103784;
  font-size: var(--font-size-s);
  line-height: var(--font-line-s);
  text-transform: uppercase;
  background-color: #fff;
  text-decoration: none;
  font-weight: 600;
}

.header-mobile {
  display: none;
  width: 100%;
  position: relative;
  z-index: 10;
}
.header-mobile__first {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #E4EAF7;
  width: 100%;
  height: 72px;
  padding: 18px calc((100% - var(--desktop-width)) / 2);
  color: #103784;
}
.header-mobile__logo {
  width: 150px;
  height: 40px;
  -o-object-fit: contain;
     object-fit: contain;
}
.header-mobile__hamb {
  width: 21px;
  height: 16px;
  background: url(./img/hamb.svg) center/contain no-repeat;
}
.header-mobile__main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #F9F9F9;
  padding: 15px calc((100% - var(--desktop-width)) / 2);
}
.header-mobile__input {
  width: 60%;
  font-size: var(--font-size-s);
  line-height: var(--font-line-s);
  border: #103784 solid 2px;
  padding: 8px 38px 8px 23px;
  margin: 0 15px 0 0;
  border-radius: 20px;
  background: url(./img/Лупа.svg) calc(100% - 18px)/17px no-repeat;
  background-color: #fff;
}
.header-mobile__icon {
  width: 20px;
  height: 20px;
  margin-right: 16px;
}
.header-mobile__icon:last-child {
  margin: 0;
}
.header-mobile__container {
  position: absolute;
  top: 72px;
  left: 0;
  z-index: 5;
  width: 100%;
  background-color: #E4EAF7;
}
.header-mobile__nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 12px 0 50px 0;
  margin: 0 auto;
}
.header-mobile__nav-link {
  max-width: 60%;
  text-align: center;
  color: #103784;
  font-size: var(--font-size-l);
  line-height: var(--font-line-l);
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 600;
  margin-bottom: 12px;
}
.header-mobile__nav-link:last-child {
  margin: 0;
}
.header-mobile__link {
  font-weight: 400;
  text-decoration: none;
  text-transform: none;
  font-size: var(--font-size-s);
  line-height: var(--font-line-s);
}
.header-mobile__btn {
  font-size: var(--font-size-l);
  line-height: var(--font-line-l);
  background-color: #5078B9;
  color: #fff;
  padding: 8px 16px;
  border-radius: 20px;
}

/* swiper */
.swiper-container {
  padding-bottom: 57px;
  width: 100%;
  background-color: #F9F9F9;
}

.swiper-indicators {
  width: 115px;
  margin: 0 auto 34px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.swiper-indicators li {
  border-radius: 50%;
  width: 14px;
  height: 14px;
  background: none;
  background-color: #fff;
}
.swiper-indicators li.active {
  background-color: #5078B9;
}

.swiper__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 500px;
  padding: 100px;
}
.swiper__img {
  width: 720px;
  -o-object-fit: contain;
     object-fit: contain;
}
.swiper__caption {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.swiper__subtitle {
  color: #5078B9;
  text-transform: uppercase;
  font-size: var(--font-size-l);
  line-height: var(--font-line-l);
  margin-bottom: 20px;
}
.swiper__title {
  text-transform: uppercase;
  font-size: var(--font-size-xl);
  line-height: var(--font-line-xl);
  max-width: 490px;
  margin-bottom: 85px;
}
.swiper__btn {
  font-size: var(--font-size-l);
  line-height: var(--font-line-l);
  padding: 14px 33px;
  border-radius: 20px;
  color: #fff;
  background-color: #103784;
  transition: opacity 0.2s ease-in-out;
}
.swiper__btn:hover {
  color: #fff;
  opacity: 0.8;
}
.swiper__arrows {
  width: 100px;
}

.swiper-container {
  width: 100%;
  padding: 30px calc((100% - var(--desktop-width)) / 2);
  background-color: #F9F9F9;
}

.swiper-wrapper {
  background-color: #ECECEC;
  border-radius: 20px;
}

.swiper-pagination-bullet {
  border-radius: 50% !important;
  width: 14px !important;
  height: 14px !important;
  background: none !important;
  background-color: #fff !important;
  opacity: 1 !important;
  margin-right: 10px !important;
}

.swiper-pagination-bullet-active {
  background-color: #5078B9 !important;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizonta {
  bottom: 30px !important;
}

/* popular */
.popular {
  max-width: var(--desktop-width);
  margin: 0 auto 56px auto;
  background-color: transparent;
}
.popular__container {
  display: grid;
  grid-template-rows: repeat(2, 300px);
  grid-template-columns: repeat(5, 300px);
  overflow: hidden;
  gap: 5px;
}
.popular__title {
  color: #000;
  font-size: var(--font-size-xl);
  line-height: var(--font-line-xl);
  font-weight: 500;
  margin: 44px 0 20px 0;
}
.popular__item {
  position: relative;
  height: 100%;
  width: 100%;
}
.popular__img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 180px;
  max-height: 180px;
  max-width: 200px;
  -o-object-fit: contain;
     object-fit: contain;
  margin-bottom: 20px;
}
.popular__subtitle {
  width: 100%;
  padding: 0 20px;
  margin-bottom: 35px;
  text-align: center;
  color: #000;
  font-size: var(--font-size-m);
  line-height: var(--font-line-m);
}
.popular__description {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  padding: 40px 30px;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #5078B9;
  opacity: 0;
  transition: all 0.2s ease-in-out;
}
.popular__description:hover {
  opacity: 0.9;
  display: block;
}
.popular__description-text {
  line-height: var(--font-size-s);
  color: #fff;
}
.popular__description-text:last-child {
  text-decoration: underline;
}
.popular__description-text:last-child:hover {
  color: #fff;
}
.popular_catalog {
  min-width: 100%;
  max-width: 100%;
  padding: 50px calc((100% - var(--desktop-width)) / 2);
  margin: 0;
  background-color: #F9F9F9;
}
.popular_catalog .popular__item:hover .popular__subtitle {
  display: none;
}
.popular_catalog .popular__item:hover .popular__description {
  display: flex;
}
.popular_catalog .popular__title {
  margin-top: 0;
}
.popular_catalog .popular__container {
  grid-template-rows: repeat(3, 300px);
}

/* overlay for catalog hover */
#overlay-catalog {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
}

/* catalog */
.catalog {
  position: relative;
  display: flex;
  flex-direction: row;
  background: padding-box;
  border-top: 56px solid #F9F9F9;
  border-left: calc((100vw - var(--desktop-width)) / 2) #F9F9F9 solid;
  border-right: calc((100vw - var(--desktop-width)) / 2) #F9F9F9 solid;
  border-bottom: 56px solid #F9F9F9;
  transition: all 0 ease-in-out;
}
.catalog.active {
  background-color: transparent;
}
.catalog__all-btn {
  display: none;
  width: -moz-fit-content;
  width: fit-content;
  background-color: #5078B9;
  color: #fff;
  border-radius: 20px;
  text-transform: uppercase;
  padding: 10px 27px;
  margin: 25px auto;
  font-size: var(--font-size-xl);
  line-height: var(--font-line-xl);
  font-weight: 700;
}
.catalog__title {
  position: relative;
  z-index: 5;
  color: #000;
  font-size: var(--font-size-xl);
  line-height: var(--font-line-xl);
  font-weight: 500;
  padding: 0 0 20px 0;
  margin: 0;
  background: #F9F9F9;
}
.catalog__nav {
  height: -moz-fit-content;
  height: fit-content;
  position: relative;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
}
.catalog__nav-item {
  background-color: #F9F9F9;
  padding-right: 7px;
}
.catalog__nav-item.active {
  border: none;
  background-color: transparent;
}
.catalog__sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* margin: -1px; */
}
.catalog__sidebar-h {
  height: 100%;
  width: 100%;
  background-color: #F9F9F9;
}
.catalog__name {
  background-clip: padding-box;
  background-color: #fff;
  min-width: 375px;
  max-width: 375px;
  height: 100%;
  font-size: var(--font-size-l);
  line-height: var(--font-line-l);
  display: block;
  padding: 16px 33px;
  z-index: 5;
  border-bottom: #E4EAF7 1px solid;
  border-right: #E4EAF7 1px solid;
  border-left: #E4EAF7 1px solid;
}
.catalog__name.first {
  border-radius: 20px 20px 0 0;
}
.catalog__name.last {
  border-radius: 0 0 20px 20px;
}
.catalog__name:hover {
  border: none;
  background-color: transparent;
}
.catalog__container {
  z-index: 2;
  width: 100%;
  /* margin: -1px; */
}
.catalog__grid {
  position: relative;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 587px);
  gap: 7px;
  margin: 0;
  transition: all 0.3s ease-in-out;
  border-bottom: 20px solid #F9F9F9;
  overflow: hidden;
  background-color: #F9F9F9;
}
.catalog__grid.active {
  padding: 20px;
  background-color: transparent;
  grid-template-rows: repeat(3, 283px);
}
.catalog__grid.active .catalog__buy {
  display: none;
}
.catalog__grid.active .catalog__subtext {
  display: none;
}
.catalog__grid.active .catalog__like {
  display: none;
}
.catalog__grid.active .catalog__basket {
  display: none;
}
.catalog__grid.active .catalog__img {
  -o-object-fit: contain;
     object-fit: contain;
}
.catalog__item {
  z-index: 5;
  position: relative;
  list-style: none;
}
.catalog__item_small {
  width: 300px;
  height: 400px;
}
.catalog__item_small .catalog__content {
  padding: 30px 30px 20px 30px;
}
.catalog__content {
  width: 100%;
  min-width: 283px;
  height: 100%;
  background-color: #fff;
  border: #E4EAF7 2px solid;
  border-radius: 20px;
  padding: 40px 35px;
  gap: 20px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
}
.catalog__img {
  display: block;
  max-width: 220px;
  max-height: 340px;
  height: -moz-fit-content;
  height: fit-content;
  margin: 0 auto;
  -o-object-fit: contain;
     object-fit: contain;
  overflow: hidden;
}
.catalog__buy {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 15px;
}
.catalog__price {
  font-size: var(--font-size-xl);
  line-height: var(--font-line-xl);
  font-weight: 700;
}
.catalog__basket {
  position: absolute;
  z-index: 5;
  right: 25px;
  bottom: 146px;
  height: 32px;
  width: 50px;
  border-radius: 25px;
  background: url(./img/basket-light.svg) center/22px 19px no-repeat;
  background-color: #5078B9;
}
.catalog__text {
  margin-bottom: 15px;
}
.catalog__subtext {
  display: block;
  width: 100%;
  text-align: end;
}
.catalog__description {
  text-decoration: underline;
  float: left;
  margin: 0;
}
.catalog__description:hover {
  opacity: 0.8;
}
.catalog__avlb-good {
  color: #5078B9;
}
.catalog__like {
  display: block;
  width: 30px;
  height: 33px;
  position: absolute;
  top: 20px;
  right: 22px;
  z-index: 5;
  cursor: pointer;
  background: url(./img/like-blue.svg) center/contain no-repeat;
}
.catalog__like.active {
  background-image: url(./img/like-blue-active.svg);
}

/* pagination */
.pagination {
  /* margin: -1px; */
  background-color: #F9F9F9;
}
.pagination__ellipsis {
  display: flex;
  flex-direction: row;
  color: #5078B9;
  width: 260px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.pagination .page-item .page-link {
  padding: 10px 16px;
  border: none;
  background-color: transparent;
  color: #5078B9;
  text-align: center;
}
.pagination .page-item .page-link.active {
  border-radius: 20px;
  color: #fff;
  background-color: #5078B9;
}
.pagination .page-item .page-link.next {
  border-radius: 20px;
  margin-left: 15px;
  width: 97px;
  background-color: #E4EAF7;
}

/* projects */
.projects {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 2;
  background-color: #E4EAF7;
  padding: 56px calc((100% - var(--desktop-width)) / 4);
  border-radius: 0 0 20px 20px;
  overflow: hidden;
}
.projects.dim-mobile {
  display: none;
}
.projects.sub {
  border-radius: 0;
}
.projects.sub .catalog__avlb-good {
  float: left;
}
.projects .catalog__basket {
  bottom: 149px;
  height: 36px;
  width: 60px;
}
.projects__container {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 7px;
  overflow: scroll;
  position: relative;
}
.projects__container::-webkit-scrollbar {
  display: none;
}
.projects__container .catalog__item:first-child {
  margin-left: calc((100% - var(--desktop-width)) / 2);
}
.projects__container .catalog__item:last-child {
  margin-right: calc((100% - var(--desktop-width)) / 2);
}
.projects__overlay {
  z-index: 10;
  height: 100%;
  width: calc((100% - var(--desktop-width)) / 4);
  top: 0;
  right: calc((100% - var(--desktop-width)) / 4 - 5px);
  position: absolute;
  background: linear-gradient(to right, transparent, #E4EAF7);
}
.projects__overlay.left {
  left: calc((100% - var(--desktop-width)) / 4 - 5px);
  background: linear-gradient(to left, transparent, #E4EAF7);
}
.projects__title {
  color: #000;
  font-size: var(--font-size-xl);
  line-height: var(--font-line-xl);
  font-weight: 500;
  margin-bottom: 24px;
  padding: 0 calc((100% - var(--desktop-width)) / 2);
}
.projects__card {
  min-width: 335px;
  height: 455px;
  padding: 20px 35px;
}
.projects__card:first-child {
  margin-left: calc((100% - var(--desktop-width)) / 2);
}
.projects__card:last-child {
  margin-right: calc((100% - var(--desktop-width)) / 2);
}
.projects__img {
  max-width: 300px;
  max-height: 300px;
  margin-bottom: 10px;
  -o-object-fit: contain;
     object-fit: contain;
}

/* newsletter */
.newsletter {
  position: relative;
  z-index: 1;
  margin: -30px 0;
  padding: 40px calc((100% - var(--desktop-width)) / 2) 15px calc((100% - var(--desktop-width)) / 2);
  width: 100%;
  background-color: #5078B9;
  border-radius: 0 0 20px 20px;
}
.newsletter__container {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 7px;
}
.newsletter__text {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
}
.newsletter__title {
  color: #fff;
  font-size: var(--font-size-xl);
  line-height: var(--font-line-xl);
  font-weight: 500;
  margin: 0;
}
.newsletter__subtitle {
  color: #fff;
  font-size: var(--font-size-l);
  line-height: var(--font-line-l);
  font-weight: 500;
}
.newsletter__logo {
  height: 73px;
  width: 73px;
  margin-right: 5px;
}
.newsletter__input {
  height: 50px;
  width: 307px;
  font-size: var(--font-size-s);
  line-height: var(--font-line-s);
  padding: 13px 23px;
  border-radius: 20px 0 0 20px;
  background-color: #fff;
}
.newsletter__btn {
  height: 50px;
  width: 68px;
  border-radius: 0 20px 20px 0;
  background-color: #103784;
}

/* footer */
.footer {
  width: 100%;
  height: 345px;
  max-height: 100%;
  padding: 56px calc((100% - var(--desktop-width)) / 2);
  background-color: #F9F9F9;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.footer.blue {
  background-color: #E4EAF7;
}
.footer__container {
  list-style: none;
  position: relative;
  max-width: 425px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
}
.footer__container:first-child {
  padding-top: 20px;
  padding-bottom: 50px;
}
.footer__container:last-child {
  padding: 30px 0;
  max-width: 230px;
}
.footer__item {
  font-size: var(--font-size-s);
  line-height: var(--font-size-s);
  display: block;
  max-width: 282px;
  color: #000;
  margin: 0;
}
.footer__item_big {
  font-weight: 700;
}
.footer__item:hover {
  text-decoration: none;
  color: #000;
}
.footer__logo {
  width: 263px;
  height: 67px;
}
.footer__link {
  color: #5078B9;
}
.footer__description {
  font-size: 16px;
  line-height: 30px;
}
.footer__btn {
  font-size: var(--font-size-l);
  line-height: var(--font-line-l);
  font-weight: 600;
  color: #fff;
  padding: 14px 33px;
  border-radius: 20px;
  background-color: #103784;
}

/* breadcrumb */
.breadcrumb {
  background-color: #F9F9F9;
  padding: 0 calc((100% - var(--desktop-width)) / 2) 20px calc((100% - var(--desktop-width)) / 2);
  margin: 0;
}

.breadcrumb-item.active::before {
  content: "" !important;
  width: 9px;
  height: var(--font-size-s);
  padding: 0 30px;
  background: url(./img/arr-right.svg) center/contain no-repeat;
}

/* product */
.product {
  background-color: #F9F9F9;
  padding: 56px calc((100% - var(--desktop-width)) / 2);
  /* product sidebar */
}
.product__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.product__title {
  color: #000;
  font-size: var(--font-size-xl);
  line-height: var(--font-line-xl);
  font-weight: 500;
  margin-bottom: 30px;
}
.product__main {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.product__imgs {
  display: flex;
  flex-direction: row;
  gap: 7px;
}
.product__main-img {
  position: relative;
  width: 530px;
  height: 530px;
  padding: 20px;
  background-color: #fff;
  border: 2px solid #E4EAF7;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.product__img {
  width: 100%;
  aspect-ratio: 1/1;
  -o-object-fit: contain;
     object-fit: contain;
}
.product__like {
  display: block;
  width: 40px;
  aspect-ratio: 1/1;
  position: absolute;
  top: 15px;
  right: 20px;
  background: url(./img/like-blue.svg) center/contain no-repeat;
  cursor: pointer;
}
.product__like.active {
  background-image: url(./img/like-blue-active.svg);
}
.product__nav {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 7px;
}
.product__nav-item {
  width: 100px;
  height: 100px;
  padding: 10px;
  background-color: #fff;
  border: 2px solid #E4EAF7;
  border-radius: 20px;
  cursor: pointer;
}
.product__nav-item.active {
  border: 2px solid #5078B9;
}
.product__description {
  list-style: none;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 20px 25px 0 35px;
}
.product__art {
  color: #5078B9;
  margin-bottom: 20px;
  font-size: var(--font-size-l);
  line-height: var(--font-line-l);
}
.product__description-item {
  padding: 0;
  margin: 0 0 24px 0;
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: space-between;
}
.product__subtitle {
  min-width: -moz-fit-content;
  min-width: fit-content;
  width: -moz-max-content;
  width: max-content;
  margin: 0;
  padding: 0;
  color: #6C6C6C;
  font-size: var(--font-size-l);
  line-height: var(--font-line-l);
}
.product__underline {
  width: 100%;
  height: 16px;
  margin: 2px;
  border-bottom: 1px solid #E4EAF7;
}
.product__text {
  min-width: 148px;
  max-width: 148px;
  margin: 0;
  padding: 0;
  font-size: var(--font-size-l);
  line-height: var(--font-line-l);
}
.product__link {
  color: #103784;
  text-decoration: underline;
  font-size: var(--font-size-l);
  line-height: var(--font-line-l);
}
.product__sidebar {
  max-height: 430px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.product__sidebar-main {
  height: 300px;
  width: 270px;
  padding: 20px;
  border: 2px solid #E4EAF7;
  border-radius: 20px;
  box-shadow: -7px -7px 30px 0px rgba(16, 55, 132, 0.0588235294);
}
.product__price {
  font-size: var(--font-size-xl);
  line-height: var(--font-line-xl);
  color: #D1000F;
  margin: 0;
}
.product__price.sub {
  font-size: var(--font-size-l);
  line-height: var(--font-line-l);
  color: #000;
  text-decoration: line-through;
}
.product__subtext {
  margin: 0 0 16px 0;
}
.product__counter {
  height: 35px;
  margin-bottom: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.product__counter p {
  margin: 0;
}
.product__counter-btn {
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--font-size-xl);
  line-height: var(--font-line-xl);
  border: 2px solid #E4EAF7;
  padding: 0 14px;
  border-radius: 20px 0 0 20px;
}
.product__counter-btn.right {
  border-radius: 0 20px 20px 0;
}
.product__input {
  width: 68px;
  margin: 0;
  font-size: var(--font-size-l);
  text-align: center;
  border-top: 2px solid #E4EAF7;
  border-bottom: 2px solid #E4EAF7;
}
.product__input::-webkit-outer-spin-button, .product__input::-webkit-inner-spin-button {
  -webkit-appearance: none;
          appearance: none;
}
.product__sidebar-btn {
  min-width: 100%;
  padding: 14px 0;
  text-align: center;
  font-size: var(--font-size-l);
  line-height: var(--font-line-l);
  font-weight: 600;
  border-radius: 20px;
  border: 2px solid #E4EAF7;
  box-shadow: -7px -7px 30px 0px rgba(16, 55, 132, 0.0588235294);
}
.product__sidebar-btn:hover {
  color: #fff;
  text-decoration: none;
  background-color: #5078B9;
  border-color: #5078B9;
}
.product__sidebar-btn.active {
  color: #fff;
  background-color: #5078B9;
  border: none;
  padding: 17px 13px;
  margin-bottom: 15px;
}
.product__desc-info {
  text-align: center;
  line-height: var(--font-line-l);
  margin: 0;
}

/* nav for description product */
.infonav {
  background-color: #F9F9F9;
  padding: 60px calc((100% - var(--desktop-width)) / 2) 30px calc((100% - var(--desktop-width)) / 2);
  display: flex;
  flex-direction: row;
  align-items: center;
}
.infonav__item {
  display: flex;
  align-items: center;
  background-color: #fff;
  color: #5078B9;
  text-transform: uppercase;
  font-weight: 700;
  border: 2px solid #5078B9;
  border-radius: 20px;
  padding: 10px 30px;
  box-shadow: -7px -7px 30px 0px rgba(16, 55, 132, 0.0588235294);
}
.infonav__item:first-child {
  padding: 10px 70px 10px 30px;
  margin-right: -45px;
}
.infonav__item:nth-child(2) {
  padding: 10px 30px 10px 60px;
  margin-right: 30px;
}
.infonav__item.active {
  padding: 10px 30px;
  z-index: 2;
  background-color: #5078B9;
  color: #fff;
}
.infonav__title {
  font-size: var(--font-size-l);
  line-height: var(--font-line-l);
}

/* description */
.description {
  background-color: #F9F9F9;
  padding: 0 calc((100% - var(--desktop-width)) / 2);
  display: grid;
  grid-template-columns: 1fr 530px;
  grid-template-rows: 1fr;
}
.description .product__text {
  min-width: 469px;
}
.description__text {
  width: 100%;
}
.description__more {
  display: none;
}
.description .displaySub {
  display: block;
}

/* dimensions */
.dimensions {
  background-color: #F9F9F9;
  padding: 0 calc((100% - var(--desktop-width)) / 2) 55px;
}
.dimensions__text {
  max-width: 469px;
  margin-bottom: 25px;
}
.dimensions__main {
  width: 100%;
  max-height: 800px;
  border-radius: 20px;
  border: 2px solid #E4EAF7;
  -o-object-fit: contain;
     object-fit: contain;
  margin-bottom: 5px;
}
.dimensions__table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  border: 1px solid #E4EAF7;
  border-radius: 20px;
  background-color: #fff;
}
.dimensions__table thead th {
  background-color: #E4EAF7;
}
.dimensions__table thead th:first-child {
  border-radius: 20px 0 0 0;
}
.dimensions__table thead th:last-child {
  border-radius: 0 20px 0 0;
}
.dimensions__table th,
.dimensions__table td {
  padding: 20px;
  border-right: 1px solid #E4EAF7;
  border-bottom: 1px solid #E4EAF7;
  text-align: center;
}
.dimensions__table th.pad,
.dimensions__table td.pad {
  text-align: start;
  padding: 10px 30px;
}
.dimensions__table th:last-child,
.dimensions__table td:last-child {
  border-right: none;
}
.dimensions__table tr:last-child th,
.dimensions__table tr:last-child td {
  border-bottom: none;
}

.profile {
  background-color: #F9F9F9;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 56px calc((100% - var(--desktop-width)) / 2);
}
.profile__title {
  position: relative;
  z-index: 5;
  color: #000;
  font-size: var(--font-size-xl);
  line-height: var(--font-line-xl);
  font-weight: 500;
  margin: 0 0 20px 0;
}
.profile__sidebar {
  width: 375px;
  display: flex;
  justify-content: start;
  flex-direction: column;
  gap: 7px;
}
.profile__nav {
  height: -moz-fit-content;
  height: fit-content;
  position: relative;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
}
.profile__name {
  background-color: #fff;
  min-width: 375px;
  height: 100%;
  font-size: var(--font-size-l);
  line-height: var(--font-line-l);
  display: block;
  padding: 16px 33px;
  z-index: 5;
  border-bottom: #E4EAF7 1px solid;
  border-right: #E4EAF7 1px solid;
  border-left: #E4EAF7 1px solid;
}
.profile__name:first-child {
  border-radius: 20px 20px 0 0;
}
.profile__name:last-child {
  border-radius: 0 0 20px 20px;
}
.profile__name.active {
  border: none;
  background-color: #E4EAF7;
}
.profile__tp {
  height: 410px;
  padding: 35px 73px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  border-radius: 20px;
  border: 1px solid #E4EAF7;
}
.profile__tp-img {
  height: 150px;
  width: 150px;
  margin: 0 auto;
}
.profile__tp-title {
  font-size: var(--font-size-xl);
  line-height: var(--font-line-xl);
  font-weight: 500;
}
.profile__tp-btn {
  padding: 14px 33px;
  background-color: #E4EAF7;
  border-radius: 20px;
  color: #103784;
  font-size: var(--font-size-l);
  line-height: var(--font-line-l);
  font-weight: 600;
}
.profile__container {
  display: flex;
  flex-direction: row;
  gap: 35px;
}
.profile__form-group {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 0;
}
.profile__form {
  width: 735px;
}
.profile__form.password .profile__label {
  min-width: 200px;
}
.profile__subtitle {
  margin: 0 0 24px 0;
  font-size: var(--font-size-xl);
  line-height: var(--font-line-xl);
  font-weight: 500;
}
.profile__subtitle.sub {
  margin: 24px 0;
}
.profile__email {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
}
.profile__label {
  min-width: 90px;
  margin: 0 25px 0 0;
  padding: 13px 0;
  font-size: var(--font-size-l);
  line-height: var(--font-line-l);
}
.profile__input {
  width: 100%;
  height: 52px;
  padding: 16px 34px;
  background-color: #fff;
  color: #103784;
  border: 1px solid #E4EAF7;
  border-radius: 20px;
  margin-bottom: 7px;
}
.profile__input::-moz-placeholder {
  color: #103784;
}
.profile__input::placeholder {
  color: #103784;
}
.profile__checkbox {
  position: absolute;
  z-index: 2;
  opacity: 0;
}
.profile__checkbox:checked + .profile__checkbox_lbl::before {
  border-color: #5078B9;
  background: url(./img/галочка.svg) center/cover no-repeat;
  background-color: #5078B9;
}
.profile__checkbox_lbl {
  display: inline-flex;
  align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  padding-top: 8px;
}
.profile__checkbox_lbl::before {
  content: "";
  width: 28px;
  height: 28px;
  background-color: #fff;
  border: 2px solid #E4EAF7;
  border-radius: 5px;
}
.profile__checkbox-text {
  display: flex;
  gap: 13px;
  align-items: center;
  color: #103784;
}
.profile__save {
  float: right;
  margin: 20px 0;
  background-color: #5078B9;
  padding: 14px 100px;
  color: #fff;
  border-radius: 20px;
  font-size: var(--font-size-l);
  line-height: var(--font-line-l);
}

.basket__container {
  background-color: #fff;
  border-radius: 20px;
  border: 2px solid #E4EAF7;
  padding: 20px;
  height: -moz-fit-content;
  height: fit-content;
}
.basket__titles {
  width: 100%;
  padding-left: 20px;
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: space-between;
}
.basket__title {
  display: block;
  text-transform: uppercase;
  font-weight: 600;
  font-size: var(--font-size-s);
  line-height: var(--font-line-s);
  color: #103784;
  min-width: 200px;
}
.basket__title:first-child {
  width: 100%;
}
.basket__title.sub {
  text-transform: none;
  min-width: -moz-fit-content;
  min-width: fit-content;
  font-size: var(--font-size-xl);
  line-height: var(--font-line-xl);
  font-weight: 500;
}
.basket__title.date {
  font-weight: 400;
}
.basket__buy {
  font-size: var(--font-size-xl);
  line-height: var(--font-line-xl);
  font-weight: 600;
  margin-left: 20px;
}
.basket__list {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
.basket__list.inactive {
  display: none;
}
.basket__item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.basket__img {
  width: 100px;
  height: 100px;
  padding: 20px;
  border-radius: 15px;
  border: 2px solid #5078B9;
  -o-object-fit: contain;
     object-fit: contain;
}
.basket__description {
  width: 100%;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.basket__text {
  max-width: 460px;
}
.basket__price {
  min-width: 150px;
  font-size: var(--font-size-xl);
  line-height: var(--font-line-xl);
  font-weight: 600;
}
.basket__count {
  font-size: var(--font-size-l);
  line-height: var(--font-line-xl);
  min-width: 90px;
}
.basket__counter {
  min-width: 200px;
}
.basket__info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 460px;
}
.basket__like {
  width: 40px;
  height: 36px;
  margin-right: 16px;
  background: url(./img/basket-like.svg) center/contain no-repeat;
}
.basket__delete {
  width: 31px;
  height: 36px;
  margin-right: 16px;
  background: url(./img/trash.svg) center/contain no-repeat;
}
.basket__availability {
  color: #103784;
  margin: 0;
}
.basket__id {
  color: #5078B9;
  margin: 0;
}
.basket .profile__save {
  min-width: 320px;
  padding: 14px 80px;
}

.orders {
  border: none;
  background-color: transparent;
  padding: 0;
  overflow: hidden;
}

.order {
  position: relative;
  border-radius: 20px;
  border: 2px solid #E4EAF7;
  background-color: #fff;
  margin-bottom: 12px;
}
.order .basket__list {
  padding: 0 20px;
}
.order .collapse {
  display: none !important;
}
.order .collapse.show {
  display: flex !important;
}
.order__header {
  padding: 20px;
}
.order__title {
  font-size: var(--font-size-l);
  line-height: var(--font-line-l);
  color: #103784;
  margin: 0 55px 18px 0;
}
.order__subtitle {
  margin: 3px 0 0 0;
}
.order__status {
  margin: 0;
  padding: 8px 47px;
  color: #171717;
  border-radius: 20px;
  border: 2px solid #848484;
  background-color: rgba(74, 74, 74, 0.1098039216);
  font-size: var(--font-size-s);
  line-height: var(--font-line-s);
  margin-right: 55px;
}
.order__status.active {
  border: 2px solid #116022;
  background-color: rgba(17, 96, 34, 0.1098039216);
}
.order__price {
  margin: 0;
}
.order__select {
  position: absolute;
  top: 30px;
  right: 20px;
  width: 15px;
  height: 10px;
  background: url(./img/arrow-bottom.svg) center/contain no-repeat;
}
.order__footer {
  width: 100%;
  height: 63px;
  background-color: #E4EAF7;
  padding: 20px;
  border-radius: 0 0 18px 18px;
  display: flex;
  gap: 78px;
}
.order__icon {
  margin-right: 13px;
  width: 25px;
  height: 25px;
  -o-object-fit: contain;
     object-fit: contain;
}
.order__link {
  color: #103784;
  text-decoration: underline;
}

.delivery {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-radius: 20px;
  border: 2px solid #E4EAF7;
  background-color: #fff;
  padding: 25px 40px;
  margin-bottom: 12px;
}
.delivery .profile__checkbox_lbl {
  margin-right: 40px;
}
.delivery__text {
  display: flex;
  flex-direction: row;
  max-width: 450px;
  margin-right: 40px;
}
.delivery__delete {
  width: 31px;
  height: 36px;
  margin-right: 16px;
  background: url(./img/trash.svg) center/contain no-repeat;
}

.organization .profile__subtitle {
  margin: 0;
}
.organization__form .profile__input {
  padding: 0 50px;
}
.organization__form .profile__input::-moz-placeholder {
  color: #000;
}
.organization__form .profile__input::placeholder {
  color: #000;
}
.organization__form .profile__save {
  margin: 0 0 0 auto;
}
.organization .order {
  padding: 20px 40px 20px 20px;
}
.organization .order p {
  margin: 0;
}
.organization__title {
  font-size: var(--font-size-l);
  line-height: var(--font-line-l);
  color: #103784;
  margin-bottom: 18px;
}
.organization__link {
  margin-bottom: 20px;
}
.organization__link:last-child {
  margin: 0;
}

.modal {
  display: none;
  position: fixed;
  z-index: 99;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2274509804);
}
.modal.modalRegister .modal__form {
  width: 660px;
}
.modal.modalRegister .modal__item {
  margin: 0 65px;
}
.modal.modalRegisterUr .modal__form {
  width: 660px;
}
.modal.modalRegisterUr .modal__item {
  margin: 0 65px;
}
.modal.modalCall .modal__form {
  width: 50%;
}
.modal.modalCall .modal__title {
  text-align: start;
}
.modal.modalCall .modal__text {
  color: #fff;
}
.modal.modalCall .modal__subtext {
  color: #ACBCDB;
  padding-right: 20%;
  margin: 0;
}
.modal.active {
  display: block;
}
.modal__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 7px;
  width: 100%;
  margin-right: 7px;
}
.modal__form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 530px;
  max-height: 80%;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  gap: 7px;
  border-radius: 20px;
  box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.8);
  background-color: #5078B9;
  padding: 75px;
}
.modal__title {
  text-align: center;
  color: #fff;
  font-size: var(--font-size-xl);
  line-height: var(--font-line-xl);
  font-weight: 500;
}
.modal__item {
  height: 52px;
  background-color: #fff;
  border-radius: 20px;
  padding: 15px 35px;
}
.modal__item.help {
  color: #ACBCDB !important;
  text-decoration: underline !important;
  background-color: transparent;
  text-align: center;
  padding: 5px 0 20px 0;
}
.modal__item.btn {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal__item.btnGo {
  background-color: #103784;
}
.modal__item.btnChangeGo {
  background-color: transparent;
  border: 2px #fff solid;
}
.modal__item.btnCall {
  min-width: 200px;
  background-color: #103784;
}
.modal__item.radio {
  background-color: transparent;
  padding: 0;
  height: -moz-fit-content;
  height: fit-content;
}
.modal__item.radio .profile__checkbox-text {
  color: #fff;
  line-height: var(--font-size-s);
}
.modal__item.radio .profile__checkbox_lbl::before {
  border-radius: 3px;
  border: 1px #fff solid;
}
.modal__item.sms {
  height: 172px;
  width: 100%;
  align-items: start;
}
.modal__slide {
  min-width: 500px;
  background-color: transparent;
  padding: 0;
  margin: 0 !important;
}
.modal__slide .infonav__item {
  text-align: center;
  margin-right: 0;
  padding: 0;
  width: 100%;
  height: 52px;
}
.modal__slide .infonav__item:first-child {
  padding: 0 0 0 30px;
  margin-right: -40px;
}
.modal__slide .infonav__item:last-child {
  padding-left: 50px;
  padding-right: 10px;
}
.modal__slide .infonav__item:last-child.active {
  padding-left: 10px;
  padding-right: 10px;
}
.modal__slide .infonav__item.active {
  justify-content: center;
  background-color: #103784;
}

@media screen and (max-width: 1620px) {
  body {
    --desktop-width: 1200px;
    --font-size-s: 12px;
    --font-line-s: 16px;
    --font-size-m: 18px;
    --font-line-m: 18px;
    --font-size-l: 16px;
    --font-line-l: 21px;
    --font-size-xl: 24px;
    --font-line-xl: 31px;
  }
  .header__link {
    font-size: 14px;
    line-height: 18px;
  }
  .swiper {
    height: -moz-fit-content;
    height: fit-content;
  }
  .swiper__img {
    max-width: 60%;
  }
  .catalog__name {
    min-width: 300px;
  }
  .catalog__grid {
    grid-template-rows: repeat(3, 1fr);
  }
  .catalog__content {
    padding: 25px 30px;
  }
  .catalog__item {
    max-height: 460px;
  }
  .catalog__img {
    max-width: 70%;
    height: 258px;
  }
  .catalog__like {
    width: 25px;
    height: 22px;
  }
  .catalog__basket {
    right: 30px;
    top: 303px;
  }
  .catalog__text {
    height: calc(var(--font-size-l) * 2);
    overflow: hidden;
  }
  .popular__container {
    max-width: var(--desktop-width);
    grid-template-rows: repeat(3, 300px);
    grid-template-columns: repeat(4, 300px);
  }
  .projects .catalog__basket {
    top: 268px;
    height: 30px;
    width: 54px;
    right: 25px;
  }
  .projects__card {
    padding: 10px;
    max-height: 410px;
    min-width: 300px;
  }
  .projects__img {
    max-width: 90%;
    max-height: 60%;
  }
  .product {
    padding-top: 10px;
    padding-bottom: 30px;
  }
  .product__nav-item {
    width: 78px;
    height: 78px;
  }
  .product__main-img {
    width: 340px;
    height: 340px;
  }
  .product__sidebar-main {
    width: 230px;
    height: 235px;
  }
  .product__desc-info:last-child {
    display: none;
  }
  .product__subtext {
    margin: 0 0 8px 0;
  }
  .product__input {
    width: 58px;
  }
  .dimensions th,
  .dimensions td {
    padding: 10px;
  }
}
@media screen and (max-width: 1300px) {
  body {
    --desktop-width: 1000px;
  }
  .swiper__img {
    max-width: 50%;
  }
  .catalog__name {
    min-width: 250px;
  }
  .catalog__grid {
    grid-template-rows: repeat(3, 1fr);
  }
  .catalog__content {
    padding: 20px !important;
    min-width: 100%;
  }
  .catalog__item {
    max-height: 380px;
  }
  .catalog__img {
    height: 200px;
  }
  .catalog__basket {
    right: 20px;
    top: 242px;
  }
  .popular__container {
    grid-template-rows: repeat(4, 300px);
    grid-template-columns: repeat(3, 1fr);
  }
  .footer__container:first-child {
    max-width: 300px;
  }
  .projects .catalog__basket {
    top: 244px;
    width: 49px;
    right: 17px;
  }
  .projects__card {
    padding: 15px;
    max-height: 410px;
    min-width: 300px;
  }
  .projects__img {
    max-width: 90%;
    max-height: 60%;
  }
  .projects .catalog__item {
    min-width: 230px;
  }
  .projects .catalog__item_small {
    height: -moz-fit-content;
    height: fit-content;
  }
  .projects .catalog__content {
    height: -moz-fit-content;
    height: fit-content;
  }
  .product__nav-item {
    width: 60px;
    height: 60px;
  }
  .product__main-img {
    width: 260px;
    height: 260px;
  }
  .product__like {
    width: 25px;
    height: 28px;
  }
  .product__description {
    padding: 12px;
  }
  .description .product__text {
    min-width: 400px;
  }
  .dimensions th,
  .dimensions td {
    padding: 10px;
  }
  .dimensions th.pad,
  .dimensions td.pad {
    padding: 10px;
  }
}
@media screen and (max-width: 1100px) {
  body {
    --desktop-width: 770px;
  }
  .header {
    display: none;
  }
  .header-mobile {
    display: block;
  }
  .catalog__name {
    min-width: 240px;
  }
  .catalog__grid {
    grid-template-columns: repeat(2, calc(50% - 4px));
    margin: 0 auto 20px auto;
  }
  .catalog__content {
    padding: 15px !important;
  }
  .catalog__basket {
    top: 237px;
  }
  .projects.dim {
    display: none;
  }
  .projects.dim-mobile {
    display: block;
  }
  .projects .catalog__basket {
    top: 239px;
  }
  .projects .catalog__item {
    min-width: 200px;
  }
  .projects .catalog__item_small {
    height: -moz-fit-content;
    height: fit-content;
  }
  .newsletter {
    width: 100%;
  }
  .newsletter__container {
    flex-direction: column;
  }
  .footer {
    height: -moz-fit-content;
    height: fit-content;
    flex-direction: column;
    padding: 40px calc((100% - var(--desktop-width)) / 2);
  }
  .footer__logo {
    max-width: 150px;
  }
  .footer__container {
    margin-bottom: 20px;
  }
  .footer__container:first-child {
    padding: 0;
  }
  .footer__container:last-child {
    padding: 0;
  }
  .footer__item {
    margin-bottom: 10px;
  }
  .footer__btn {
    margin-bottom: 20px;
  }
  .footer__cont {
    display: flex;
    flex-direction: row;
    align-items: end;
    gap: 24px;
  }
  .product__container {
    flex-direction: column;
  }
  .product__main {
    flex-direction: column;
  }
  .product__imgs {
    flex-direction: column-reverse;
  }
  .product__nav {
    flex-direction: row;
  }
  .product__nav-item {
    width: 78px;
    height: 78px;
  }
  .product__main-img {
    width: 400px;
    height: 400px;
  }
  .product__sidebar {
    gap: 7px;
  }
  .product__sidebar-main {
    width: 100%;
    height: 235px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .product__sidebar-btn.active {
    margin-bottom: 0;
  }
  .product__counter {
    gap: 10px;
  }
  .product__desc-info:last-child {
    display: block;
  }
  .product__input {
    width: 100px;
    min-height: 40px;
  }
  .product__description-item {
    margin: 0 0 8px 0;
  }
  .product__price {
    font-size: 24px;
  }
  .infonav {
    flex-direction: column-reverse;
    align-items: start;
    margin-bottom: -1px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .infonav__title {
    display: none;
  }
  .description {
    display: block;
  }
  .description .product__main-img {
    display: none;
  }
  .description .product__description {
    margin: 0;
    padding: 0;
    display: flex;
  }
  .description .product__subtitle {
    min-width: 50%;
  }
  .description .product__description-item {
    margin-bottom: 12px;
  }
  .description .product__text {
    min-width: 50%;
  }
  .description__more {
    display: block;
    text-decoration: underline;
    color: #103784;
    padding-bottom: 8px;
  }
  .description.collapse {
    display: none;
  }
  .description .displaySub {
    display: none;
  }
  .dimensions__table {
    display: block;
    max-width: 100%;
    overflow-x: scroll;
  }
  .dimensions th,
  .dimensions td {
    padding: 10px;
  }
  .dimensions th.pad,
  .dimensions td.pad {
    min-width: 110px;
  }
  .footer.blue {
    background-color: #F9F9F9;
  }
}
@media screen and (max-width: 800px) {
  body {
    --desktop-width: 90%;
    --font-size-s: 10px;
    --font-line-s: 13px;
    --font-size-m: 12px;
    --font-line-m: 16px;
    --font-size-l: 14px;
    --font-line-l: 18px;
    --font-size-xl: 16px;
    --font-line-xl: 21px;
  }
  .swiper-pagination-bullet {
    width: 10px !important;
    height: 10px !important;
    margin-right: 6px !important;
  }
  .swiper-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizonta {
    bottom: 15px !important;
  }
  .swiper {
    max-width: 100%;
  }
  .swiper__img {
    max-width: 250px;
    margin-bottom: 10px;
  }
  .swiper__caption {
    width: 100%;
    align-items: center;
  }
  .swiper__title {
    text-align: center;
    margin-bottom: 10px;
  }
  .swiper__container {
    height: 380px;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: start;
    padding: 8% 40px 0 40px;
  }
  .catalog {
    border: none;
    padding: 0 calc((100% - var(--desktop-width)) / 2) 26px calc((100% - var(--desktop-width)) / 2);
    flex-direction: column;
    background-color: #F9F9F9;
  }
  .catalog__all-btn {
    display: block;
  }
  .catalog__title {
    display: none;
  }
  .catalog__nav {
    flex-direction: row;
    width: 100%;
    height: -moz-fit-content;
    height: fit-content;
    overflow: scroll;
    position: relative;
  }
  .catalog__nav::-webkit-scrollbar {
    display: none;
  }
  .catalog__name {
    z-index: 2;
    min-width: -moz-fit-content;
    min-width: fit-content;
    width: -moz-fit-content;
    width: fit-content;
    white-space: nowrap;
    background-color: transparent;
    margin-bottom: 15px;
    padding: 0 10px;
    border: none;
    opacity: 0.6;
    transition: all 0.2s ease-in-out;
  }
  .catalog__name:hover {
    opacity: 1;
    font-size: var(--font-size-xl);
  }
  .catalog__like {
    top: 14px;
    right: 14px;
  }
  .catalog__basket {
    background-size: 15px;
    height: 24px;
    width: 36px;
    top: 175px;
    right: 10px;
  }
  .catalog__img {
    height: 140px;
  }
  .catalog__subtext {
    display: flex;
    flex-direction: column;
    align-items: start;
  }
  .catalog__description {
    font-size: var(--font-size-m);
    margin-bottom: 5px;
  }
  .catalog__avlb-good {
    font-size: var(--font-size-m);
  }
  .popular {
    padding-bottom: 20px;
  }
  .popular_catalog {
    padding: 15px calc((100% - var(--desktop-width)) / 2);
  }
  .popular_catalog .popular__container {
    grid-template-rows: repeat(6, 165px);
  }
  .popular__container {
    max-width: 100%;
    grid-template-rows: repeat(5, 165px);
    grid-template-columns: repeat(2, calc(50% - 4px));
  }
  .popular__item.card {
    padding-top: 8px;
  }
  .popular__item .popular__description {
    padding: 15px;
  }
  .popular__img {
    min-height: 100px;
    max-height: 100px;
    max-width: 94px;
    margin-bottom: 0px;
  }
  .popular__subtitle {
    padding: 0 8px;
    margin-bottom: 8px;
  }
  .product__nav-item {
    margin-bottom: 20px;
  }
  .product__main-img {
    width: 100%;
    max-width: 400px;
    height: -moz-fit-content;
    height: fit-content;
  }
  .product__description {
    display: none;
  }
  .product__sidebar-btn.active {
    margin-bottom: 10px;
  }
  .projects {
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .projects__card {
    padding: 10px;
    max-height: 410px;
    min-width: 300px;
  }
  .projects__img {
    max-width: 90%;
    max-height: 60%;
  }
  .projects .catalog__basket {
    top: 178px;
    width: 30px;
    height: 20px;
  }
  .projects .catalog__item {
    min-width: 140px;
  }
  .projects__overlay {
    width: calc((100% - var(--desktop-width)) / 2);
  }
  .newsletter__input {
    width: 90%;
  }
  .infonav {
    padding: 10px 10px;
  }
  .infonav__item:first-child {
    padding: 10px 50px 10px 15px;
  }
  .infonav__item:nth-child(2) {
    padding: 10px 15px 10px 50px;
    margin: 0;
  }
  .infonav__item.active {
    padding: 8px 15px;
  }
  .dimensions th,
  .dimensions td {
    padding: 10px;
  }
}